@using Microsoft.AspNetCore.Identity
@using PechinchaMarket.Areas.Identity.Data

@inject SignInManager<PechinchaMarketUser> SignInManager
@inject UserManager<PechinchaMarketUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form id="searchForm" method="post" asp-controller="Search" asp-action="search">
        <div class="nav-search-div">
            <input type="text" id="searchInput" name="searchText" autocomplete="off" placeholder="Pesquisar"/>
            <button type="submit"></button>
        </div>
    </form>
    <ul class="navbar-nav flex-grow-1">
    </ul>
}
<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a id="manage" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
    </li>
    <li class="nav-item">
        <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button id="logout" type="submit" class="nav-link btn btn-link text-dark border-0">Logout</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
</ul>
