@using Microsoft.AspNetCore.Identity
@using PechinchaMarket.Areas.Identity.Data

@inject SignInManager<PechinchaMarketUser> SignInManager
@inject UserManager<PechinchaMarketUser> UserManager

@{
    var user = await UserManager.GetUserAsync(User);
}

<form id="searchForm" method="post" asp-controller="Search" asp-action="search" class="pechincha-navbar-option push-left push-right grow-flex display-flex search-input-size">
    <div class="nav-search-div">
        <input type="text" id="searchInput" name="searchText" autocomplete="off" placeholder="Pesquisar" oninput="sugest(this.value, this)" />
        <button type="submit"></button>
    </div>
    <div class="sugestions" id="search-sugestions"></div>
</form>
<div class="display-flex small-gap-x">
    @if (SignInManager.IsSignedIn(User) && user != null)
    {
        @if (User.IsInRole("Comerciante"))
        {
            <a class="nav-link text-dark" asp-area="" asp-controller="Produtos" asp-action="Index">Produtos</a>
            <a class="nav-link text-dark" asp-area="" asp-controller="Lojas" asp-action="Index">Lojas</a>
        }
        else if (User.IsInRole("Manager"))
        {
            <a class="nav-link text-dark" asp-area="" asp-controller="Manager" asp-action="NonConfirmedList">Comerciantes</a>
            <a class="nav-link text-dark" asp-area="" asp-controller="Manager" asp-action="NonAprovedProducts">Produtos</a>
        }
        else if (User.IsInRole("Cliente"))
        {
            <a class="pechincha-navbar-option cursor-pointer small-image nav-link text-dark" asp-area="" asp-controller="ListaProdutos" asp-action="Index" style="background-image: url('/images/lists.png');"></a>
        }

        <span id="manage" class="pechincha-navbar-option-hide cursor-pointer perfil-image-border nav-link small-perfil-image no-padding" asp-area="Identity" asp-page="/Account/Manage/Index" onclick="displayperfilmenu()">
            <div class="display-none perfil-nav-menu" id="perfil-menu">
                <div>
                    <a class="pechincha-navbar-option pechincha-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage"><span class="move-text">Perfil</span></a>
                    <form id="logoutForm" class="pechincha-navbar-option form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                        <button id="logout" type="submit" class="pechincha-link"><span class="move-text">Terminar Sessão</span></button>
                    </form>
                </div>
            </div>
        </span>
    }
    else
    {
        <span class="pechincha-navbar-option">
            <a class="nav-link text-dark" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </span>
        <span class="pechincha-navbar-option">
            <a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </span>
    }
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        fetchPerfilImage();
    });

    function fetchPerfilImage() {
        fetch('/Search/GetPerfilImage', {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json',
                // Add any additional headers if needed
            }
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json(); // Assuming the response is in JSON format
            })
            .then(data => {
                const imageSrc = `url('data:image/jpeg;base64,${data}')`;

                document.getElementById('manage').style.backgroundImage = imageSrc;
            })
            .catch(error => {
                console.error('There was a problem with the fetch operation:', error);
            });
    }

    function displayperfilmenu() { 
        var menu = document.getElementById('perfil-menu');
        menu.classList.toggle('display-none');
    }
</script>