@using Microsoft.AspNetCore.Identity
@using PechinchaMarket.Areas.Identity.Data

@inject SignInManager<PechinchaMarketUser> SignInManager
@inject UserManager<PechinchaMarketUser> UserManager

    <div class="push-left push-right">
        <form id="searchForm" method="post" asp-controller="Search" asp-action="search" class="search-input-size">
            <div class="nav-search-div">
                <input type="text" id="searchInput" name="searchText" autocomplete="off" placeholder="Pesquisar" oninput="sugest(this.value, this)" />
                <button type="submit"></button>
            </div>
            <div class="sugestions" id="search-sugestions"></div>
        </form>
    </div>
    <div class="small-padding-right">
    <ul class="navbar-nav small-gap-x center-y-flex">
        @if (SignInManager.IsSignedIn(User))
        {
            <li class="nav-item no-padding height-fit-content center-x-flex center-y-flex">
                <span id="manage" class="cursor-pointer perfil-image-border nav-link small-perfil-image no-padding" asp-area="Identity" asp-page="/Account/Manage/Index" onclick="displayperfilmenu()">
                    <div class="display-none perfil-nav-menu" id="perfil-menu">
                        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Perfil</a>

                        <form class="clickable-div" id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                            <button id="logout" type="submit" class="remove-hover clickable-div nav-link btn btn-link text-dark border-0">Logout</button>
                        </form>
                    </div>
                </span>
            </li>
            @if (User.IsInRole("Comerciante")){
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Produtos" asp-action="Index">Produtos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Lojas" asp-action="Index">Lojas</a>
                </li>
            }else if (User.IsInRole("Manager")){
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Manager" asp-action="NonConfirmedList">Comerciantes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Manager" asp-action="NonAprovedProducts">Produtos</a>
                </li>
            }else if (User.IsInRole("Cliente")){
                <li class="nav-item">
                    <a class="cursor-pointer small-image nav-link text-dark" asp-area="" asp-controller="ListaProdutos" asp-action="Index" style="background-image: url('/images/lists.png');"></a>
                </li>
            }
        }
        else
        {
            <li class="nav-item">
                <a class="nav-link text-dark" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
            </li>
        }
        </ul>
    </div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        fetchPerfilImage();
    });

    function fetchPerfilImage() {
        fetch('/Search/GetPerfilImage', {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json',
                // Add any additional headers if needed
            }
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json(); // Assuming the response is in JSON format
            })
            .then(data => {
                const imageSrc = `url('data:image/jpeg;base64,${data}')`;

                document.getElementById('manage').style.backgroundImage = imageSrc;
            })
            .catch(error => {
                console.error('There was a problem with the fetch operation:', error);
            });
    }

    function displayperfilmenu() { 
        var menu = document.getElementById('perfil-menu');
        menu.classList.toggle('display-none');
    }
</script>