@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
    Layout = null;
}
<title>@ViewData["Title"] - PechinchaMarket</title>
<script src="~/js/site.js" asp-append-version="true"></script>
<link rel="icon" type="image/x-icon" href="./PechinchaMarket.png" />
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/PechinchaMarket.styles.css" asp-append-version="true" />


<body class="gradiante-main-color background-height">
    <div class="content-background authentication-box center-div-x-axis">
        <div class="centered-content">
            <div class="authentication-header">
                <span class="huge-icon-logo center-div-x-axis"></span>
                <h3 class="center-text">Escolha o tipo de conta</h3>
            </div>


            <div class="inline-div">
                <a asp-page="./RegisterCliente" asp-route-returnUrl="@Model.ReturnUrl" class="a-div-button">  <button id="login-submit" type="" class="account-type-button"> <span class="account-type-cliente-logo"></span> Cliente</button> </a>
                <a asp-page="./RegisterComerciante" asp-route-returnUrl="@Model.ReturnUrl" class="a-div-button"> <button id="login-submit" type="" class="account-type-button"> <span class="account-type-comerciante-logo"></span> Comerciante</button> </a>
            </div>
        </div>
    </div>
</body>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}
