@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Confirmação do Registo";
    Layout = null;
}

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/PechinchaMarket.styles.css" asp-append-version="true" />
<link rel="stylesheet" type="text/css" href="~/css/Authentication.css"></link>

<body class="gradiante2-main-color background-height center-y-flex column-container authentication-box-move">
    <h4> Registado com sucesso, verifique o seu email</h4 
    <p>
            Não se esqueça de verificar no Spam.
    </p>

</body>

