@page
@model RegisterModel
@{
    ViewData["Title"] = "WaitForConfirmation";
}


<body>
    <h2> Seu pedido está sendo análisado, por favor espere pela aprovação de administrador. Assim que possível será enviado um email com o resultado.</p>
</body>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}
