@model PechinchaMarket.Models.Loja

@{
    ViewData["Title"] = "Create";
}
<link href="~/css/loja.css" rel="stylesheet" />

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD_WfRY526MlBgsOxALrNXdf0qNl9m-Zk4&loading=async&libraries=places&callback=initAutocomplete" async defer></script>
<script>
    function initAutocomplete() {
        var input = document.getElementById('location-input');
        var autocomplete = new google.maps.places.Autocomplete(input, {
            types: ['geocode'], // Optional: restricts the search to addresses
            componentRestrictions: { country: 'PT' }, // Restricts the results to Portugal
            language: 'pt' // Set language to Portuguese
        });
        autocomplete.setFields(['address_components', 'formatted_address']);
    }
</script>

<a class="back" onclick="goBack()"></a>
<h2>Adicionar Loja</h2>
<div class="content">
     <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" id="location-input" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OpeningTime" class="control-label"></label>
                <input asp-for="OpeningTime" class="form-control" />
                <span asp-validation-for="OpeningTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClosingTime" class="control-label"></label>
                <input asp-for="ClosingTime" class="form-control" />
                <span asp-validation-for="ClosingTime" class="text-danger"></span>
            </div>
            <div class="margin-button-criar-submit">
                <input type="submit" value="Criar" class="button" />
                <a class="button-a" asp-action="Index">Cancelar</a>
            </div>
               
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
