@*
    Pagina de Suporte de Autenticação
*@
@{
    ViewData["Title"] = "Suporte de Autenticação";
}

<link rel="stylesheet" type="text/css" href="~/css/AuthenticationSupport.css"></link>
<script type="text/javascript" src="~/js/AuthenticationSupport.js"></script>


<div class="header-support">
    <div class="icon">
        <span class="icon-logo"></span>
        <div class="icon-text">Pechincha Market</div>
    </div>
    <div class="vertical-line"></div>
    <div class="header-text">Ajuda Rápida</div>
</div>
<div class="navbar-support">
    <ul id="menu">
        <li onclick="toggleSection(0, this)">Login</li>
        <li onclick="toggleSection(1, this)">Registo do cliente</li>
        <li onclick="toggleSection(2, this)">Registo do comerciante</li>
    </ul>
</div>
<div class="support-container">
    <!--Login-->
    <div class="section-content" id="section0">
        <div class="content-container">
            <h4>1. Email</h4>
            <div>Para realizar o login, será necessário seguir alguns passos. Em primeiro lugar, insira cuidadosamente o seu endereço de e-mail no campo específico, assegurando-se de fornecer as informações corretas para garantir um acesso seguro e eficiente à sua conta.</div>
            <ul>
                <li>O email deve estar associado a um conta já criada na nossa plantaforma</li>
                <li>O email deve conter um domínio válido (exemplo: gmail.com)</li>
                <li>O email deve incluir ‘’ (exemplo: )</li>
            </ul>
            <img></img>
        </div>

        <div class="content-container">
            <h4>2. Password</h4>
            <div>Após inserir corretamente o seu endereço de e-mail, prossiga fornecendo a senha associada à sua conta. Certifique-se de digitar a senha com precisão, pois essa informação é essencial para garantir a segurança e a validação adequada do acesso à sua conta.</div>
            <ul>
                <li>A senha fornecida deve coincidir com aquela que foi estabelecida durante a criação da conta associada ao e-mail digitado anteriormente.</li>
            </ul>
            <img></img>
            <div>Por fim clique no botão para avançar para a proxima fase.</div>
        </div>
    </div>

    <!--Registo do cliente-->
    <div class="section-content" id="section1">
        <div class="content-container">
            <h4>1. Email</h4>
            <div>Para se registrar, insira o seu endereço de e-mail no campo abaixo. Certifique-se de fornecer um endereço de e-mail válido, pois será utilizado para futuras comunicações e recuperação de conta.</div>
            <ul>
                <li>O email deve ser único e não estar associado a nenhuma conta existente.</li>
                <li>Utilize um domínio de e-mail válido (exemplo: gmail.com).</li>
            </ul>
            <img></img>
        </div>

        <div class="content-container">
            <h4>2. Nome</h4>
            <div>Insira o seu nome completo no campo abaixo. Este será utilizado para personalizar a sua experiência na plataforma.</div>
            <img></img>
        </div>

        <div class="content-container">
            <h4>3. Password</h4>
            <div>Crie uma senha segura para a sua conta. Certifique-se de que a senha tenha pelo menos 8 caracteres e inclua números, letras maiúsculas e minúsculas.</div>
            <ul>
                <li>A senha deve ser única e não coincide com a senha de outra conta sua.</li>
            </ul>
            <img></img>
        </div>

        <div class="content-container">
            <h4>4. Password Novamente</h4>
            <div>Confirme a senha inserindo-a novamente no campo abaixo.</div>
            <ul>
                <li>As senhas fornecidas devem coincidir.</li>
            </ul>
            <img></img>
            <div>Clique no botão "Proximo" para concluir esta fase do registro.</div>
        </div>

        <!-- Preferences Page -->
        <div class="content-container">
            <h4>Preferências de Compras (Opcional)</h4>
            <div>Escolha suas preferências de compras para receber recomendações personalizadas.</div>
            <ul>
                <li>Deixe em branco se preferir não selecionar nenhuma opção</li>
                <li>Pode selecionar mais de uma preferência, se assim desejar.</li>
            </ul>
            <div>Clique no botão "Criar" para concluir o registro e começar a desfrutar da sua experiência personalizada.</div>
        </div>
    </div>

    <!--Registo do comerciante-->
    <div class="section-content" id="section2">
        <div class="content-container">
            <h4>1. Email</h4>
            <div>Para se registar como comerciante, insira o seu endereço de e-mail no campo abaixo. Este será utilizado para comunicações e recuperação de conta.</div>
            <ul>
                <li>O email deve ser único e não estar associado a nenhuma conta existente.</li>
                <li>Utilize um domínio de e-mail válido (exemplo: gmail.com).</li>
            </ul>
            <img></img>
        </div>

        <div class="content-container">
            <h4>2. Nome</h4>
            <div>Insira o nome da sua empresa ou negócio no campo abaixo.</div>
            <img></img>
        </div>

        <div class="content-container">
            <h4>3. Password</h4>
            <div>Crie uma senha segura para a sua conta. Certifique-se de que a senha tenha pelo menos 8 caracteres e inclua números, letras maiúsculas e minúsculas.</div>
            <ul>
                <li>A senha deve ser única e não coincide com a senha de outra conta sua.</li>
            </ul>
            <img></img>
        </div>

        <div class="content-container">
            <h4>4. Password Novamente</h4>
            <div>Confirme a senha inserindo-a novamente no campo abaixo.</div>
            <ul>
                <li>As senhas fornecidas devem coincidir.</li>
            </ul>
            <img></img>
        </div>

        <div class="content-container">
            <h4>5. Submeter uma Imagem de Logo</h4>
            <div>Envie uma imagem do logo da sua empresa para personalizar a sua presença na plataforma.</div>
            <img></img>
        </div>

        <div class="content-container">
            <h4>6. Submeter um Documento de Autenticidade</h4>
            <div>Para garantir a autenticidade da sua empresa, envie um documento válido que a certifique como comerciante.</div>
            <img></img>
        </div>

        <div class="content-container">
            <div>Clique no botão "Submeter" para concluir o processo de registo como comerciante e começar a explorar as funcionalidades dedicadas à sua conta.</div>
        </div>
    </div>
</div>
