@model PechinchaMarket.Models.ListaProdutos

@{
    ViewData["Title"] = "Adicionar lista";

    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/css/listas.css" rel="stylesheet" />

<body class="gradiante2-main-color">
    <a class="back" onclick="goBack()"></a>
    <div class="row medium-padding-left">
        <h2 class="h2">Adicionar Lista</h2>
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group smaller-padding-top">
                    <label asp-for="name" class="control-label"></label>
                    <input asp-for="name" class="form-control" />
                    <span asp-validation-for="name" class="text-danger"></span>
                </div>
                <div class="form-group smaller-padding-top">
                    <input type="submit" value="Adicionar" class="pechincha-button main-button-color" id="createList" />
                </div>
            </form>
        </div>
    </div>
</body>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
