@model IEnumerable<PechinchaMarket.Models.ListaProdutos>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var counter = 0;
}
<link href="~/css/listas.css" rel="stylesheet" />

<body>
    <div class="content">
        <h1>As minhas listas</h1>

        
        <a asp-action="Create" class="create"></a>
        

        @foreach (var item in Model)
        {
            <div class="item">
                <a asp-action="Edit" asp-route-id="@item.Id" class="itembox">
                    <p>@Html.DisplayFor(modelItem => item.name)</p>

                    <p>@Html.DisplayFor(modelItem => item.state)</p>
                </a>
                <a onclick="deletePopup(@counter)" class="bin cursor-pointer"></a>
            </div>

            <div class="new-page display-none" id="delete-popup-@counter">
                <div class="smaller-page column-container center-x-flex center-y-flex shrink-flex edges-flex">
                    <div class="edges-flex max-width">
                        <div class="title unselectable-text">Eliminar Lista</div>
                        <div class="cross-button" onclick="deletePopup(@counter);"></div>
                    </div>

                    <div class="column-container max-height  edges-flex max-width">
                        <span class=" small-margin-top">Tem certeza que deseja eliminar esta Lista?</span>
                        <div class="center-x-flex">
                            <h3>@Html.DisplayFor(modelItem => item.name)  </h3>
                        </div>

                        <div class="row-container right-flex max-width ">
                            <form asp-action="Delete" method="post" asp-route-id=@item.Id>

                                <div class="delete-div  small-padding-right2">

                                    <button class="pechincha-button delete-button-color bigger-button" type="submit"> Eliminar Lista</button>

                                </div>
                            </form>

                        </div>
                    </div>
                </div>

            </div>
            counter++;
        }
    </div>
   
</body>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var tooltipall = document.getElementById("tooltip-message-all");
        var tooltipcliente = document.getElementById("tooltip-message-cliente");
        var tooltipcomerciante = document.getElementById("tooltip-message-comerciante");

        tooltipall.innerHTML = "Nesta página, poderá analisar detalhes, eliminar e criar as suas listas.";
        tooltipcliente.innerHTML = "";
        tooltipcomerciante.innerHTML = "";
    });

    function deletePopup(text) {
        document.body.classList.toggle('no-overflow');
        chooseimage = document.getElementById("delete-popup-" + text);
        chooseimage.classList.toggle('display-none');
    }
</script>
