.background {
    background-image: url("../images/fundohome.png");
    height: 400px;
    padding: 20px;
    background-size: cover;
    border-top: 3px solid var(--root-main-color);
}

.searchbox {
    background: white;
    width: 460px;
    border: 3px solid var(--root-main-color);
    border-radius: 10px;
    padding: 20px;
}

.title{
    font-size:17px;
    font-weight: bold;
}

.gradiante2-main-color{
    height:300px;
}