*{
    box-sizing: border-box;
    padding:0;
    margin:0;
}

.container {
   display: flex;
   justify-content: flex-start;
   flex-wrap: wrap;
   margin-left: 1em;
}
body {

    background: rgb(255, 102, 102);
    background: linear-gradient(to bottom, rgba(255, 102, 102) 0%, rgba(255, 255, 255, 1) 15%);
}

h2 {
    padding-top: 2em;
    padding-bottom: 1em;
}

.card {
    width: 250px;
    height: 240px;
    margin: 10px;
    border-radius: 20px;
}

.card-image {
    background-color: white;
    height: 100px;
    margin-bottom: 15px;
    background-size: cover;
    border-radius: 20px 20px 0 0;
    align-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .card-image img {
        width: 60%;
        height: 100%;
        object-fit: cover;
        padding: 5px;
        justify-content: center;
    }


.card p {
    padding: 5px;
    color: black;
    text-decoration: none;
}
.card h3 {
    padding: 5px;
    color: black;
    text-decoration: none;
    text-decoration-thickness:   
}

a{
    text-decoration: none;
}

.change-button:hover{
    background-color: aliceblue;
    cursor:pointer;
    transform: scale(1.05);
    transition:all 1s ease;
}
/* Add these styles to your existing CSS or manager.css */

.approve-button {
    background-color: #FF4646;
    opacity: 0.85;
    width: 10em;
    border: 2.5px solid #FF4646;
    align-items: center;
    margin-block: 2em;
    margin-inline-end: 1.5em;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    color: #fff;
    padding: 5px 5px;
    cursor: pointer;
}

.voltar-button {
    background-color: transparent;
    color: black;
    padding: 5px 5px;
    border: none;
    cursor: pointer;
    text-decoration: none;
}


.reprove-button {
    background-color: white;
    
    width: 10em;
    border: 2.5px solid #FF4646;
    opacity: 0.85;
    align-items: center;
    margin-block: 2em;
    margin-inline-end: 1.5em;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    color: black;
    padding: 5px 5px;
    cursor: pointer;
}


.buttons {
    margin-top: 4px;
    display: flex;
    justify-content: space-evenly;
}

.approve-button:hover,
.reprove-button:hover {
    opacity: 0.6;
}
.buttons-form {
    margin-top: 4px;
    display: flex;
    justify-content: flex-start;
    margin-left: 0;
}

.ProductLeft {
    display: flex;
    flex-direction: column;
    width: 500px;
}

.ProductRight {
    display: flex;
    flex-direction: column;
    width: 300px;
}