*{
    box-sizing: border-box;
    padding:0;
    margin:0;
}

.container {
    display: flex;
   justify-content: flex-start;
   flex-wrap: wrap;
}
body {

    background: rgb(255, 102, 102);
    background: linear-gradient(to bottom, rgba(255, 102, 102) 0%, rgba(255, 255, 255, 1) 30%);
}

.card {
    width: 220px;
    /*  height: 350px; */
    margin: 10px;
    border-radius: 20px;
}

.card-image{
    background-color: oldlace;
    height: 100px;
    margin-bottom: 15px;
    background-size: cover;
    border-radius: 20px 20px 0 0;
}
    .card-image img {
        width: 100%; 
        height: 100%;
        object-fit: cover;
    }

.card p{
    padding:5px; 
}
.card h2 {
    padding: 5px;
}

.card a {
    background-color: rgb(255, 152, 152);
    color:white;
    padding: 10px 10px;
    display:block;
    text-align: center;
    margin: 10px 50px;
    text-decoration:none;
}

.card:hover{
    background-color: aliceblue;
    cursor:pointer;
    transform: scale(1.05);
    transition:all 1s ease;
}
/* Add these styles to your existing CSS or manager.css */

.approve-button {
    background-color: #28a745; /* Green color for the "Approved" button */
    color: #fff; /* White text color */
    padding: 5px 5px;
    border: none;
    cursor: pointer;
}

.voltar-button {
    background-color: #0b0c0d;
    ;
    color: #fff; /* White text color */
    padding: 5px 5px;
    border: none;
    cursor: pointer;
    text-decoration: none;
}


.reprove-button {
    background-color: #dc3545;
    color: #fff;
    padding: 5px 5px;
    border: none;

    cursor: pointer;
}


.buttons {
    margin-top: 4px;
    display: flex;
    justify-content: space-evenly;
}

.approve-button:hover,
.reprove-button:hover {
    opacity: 0.6;
}
.buttons-form {
    margin-top: 4px;
    display: flex;
    justify-content: flex-start;
    margin-left: 0;
}

.comerciante-logo {
    display: inline-block;
    width: var(--root-comerciante-logo);
    height: var(--root-comerciante-logo);
    background-size: cover;
}
