.gradianteAzul {
    background: rgb(102, 209, 255);
    background: linear-gradient(-110deg, rgba(102, 209, 255) 35 %, rgba(255, 255, 255, 1) 100 %);
}

h2{
     margin-top: -1.5em;
     margin-left: 3em; 
}

.buttons {
    display: flex;
    justify-content:space-evenly;
}
.cancel {
    background-color: #f44336;
    padding: 10px 15px;
    margin: 0px 0px 0px 10px;
    text-align: center;
    border: 1px solid transparent;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    color: white;
    text-decoration: none;
}

    .cancel:hover {
        background-color: red;
        color: white;
    }

.insert-file {
    border: 1px solid grey;
    border-radius:5px;
    margin-bottom: 10px;
}

.blueBackground {
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 80 %, rgba(102, 209, 255) 100 %);
}

.addProduct {
    display: flex;
    justify-content: center;
    gap: 0 20px;
    flex-wrap: wrap;
}

.addProductLeft {
    display: flex;
    flex-direction:column;
    width: 500px;
}

.addProductRight {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.precoUnidade {
    display: flex;
    width: 100%;
}

.duracao {
    margin-block: 1em;
}

#peso {
    display: none;
}

#lojas {
    display: none;
}

#descontos {
    display: none;
}

.shopTable {
    width: 100%;
    border: 1px solid;
}

.bottom {
    display: flex;
    flex-direction: column;
}

.bottom > * {
    margin-top: 1.5em;;
    flex-shrink:1;
}

.form {
    display:flex;
    justify-content:center;
    flex-direction:column;
    width:fit-content;
    margin:0 auto;
    margin-top: 3em;
}
.form-group{
    padding-block: 0.4em;
}

.image {
    display: none;
}

.img-back {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-image: url(../images/down-arrow.png);
    background-size: cover;
    transform: rotate(90deg);
    margin-top: 1.5em;
    margin-left: 1.5em;
    margin-bottom: 0em;
}

.custom-file-upload {
    border-radius: 5px;
    background-color: rgba(102, 209, 255);
    color: white;
    padding: 5px 10px;
    width: 100%;
    text-align:center;
    margin-top: 10px;
    cursor: pointer;
}

.blue-button {
    border-radius: 5px;
    background-color: rgba(102, 209, 255, 1);
    color: white;
    padding: 5px 10px;
    text-align: center;
    cursor: pointer;
    border: 2px solid rgba(102, 209, 255);
}

.preco {
    width: 60%;
}

.unidade {
    width: 40%;
}

.imagePlaceholder {
    border: 1px solid black;
}

th, td {
    padding: 0.5em;
    text-align: left;
}

.custom-input {
    padding: 8px;
    border: 1px solid #ccc;
    width: 60%;
}