:root {
    /*-------------------------------*-
    |*             Cores             *|
    -*-------------------------------*/
    /*Cor "Web Standard" para todos links, campos selecionados etc...*/
    --blue-color: rgba(12, 138, 255, 1);
    --blue-color2: rgba(102,209,255);
    /*cor principal do website (tema)*/
    --root-main-color: rgb(255,181,70, 1);
    --root-main-color-low-opacity: rgb(255,181,70, 0.1);
    /*cor do texto que esta sobre um background main color no website todo*/
    --root-text-color-on-main-color: white;
    /*cor de background tudo que contem texto ou qualquer tipo de conteudo*/
    --root-background-content-color: white;
    /*cor de constraste do background*/
    --root-background-contrast-color: rgb(225, 225, 225);
    --root-background-contrast-color-2: rgb(242, 242, 242);
    /*cor do texto no website todo*/
    --root-text-color: black;
    /*cor do border de um containers/botões/etc.. com fundo default (root-background-content-color)*/
    --root-border-color-to-default-background-container: black;
    /*cor de fundo do butão do tipo de conta*/
    --root-account-type-button-color: white;
    /*cor do border do butão do tipo de conta*/
    --root-account-type-button-border-color: grey;
    /*-------------------------------*-
    |*           Tamanhos            *|
    -*-------------------------------*/
    /*Width da caixa de autenticação*/
    --root-authentication-box-width: 40em;
    --root-authentication-box-content-width: 30em;
    --root-authentication-box-height: 40em;
    --root-authentication-box-width-media: 100vw;
    /*Margin's/Gap's do conteudo das variaveis*/
    --root-authentication-content-margin-top: 5em;
    --root-authentication-content-margin-bottom: 2em;
    --root-authentication-account-type-content-margin-bottom: 12em;
    --root-account-type-button-min-space: 1em;
    --root-all-authentication-content-min-space: 5em;
    --root-authentication-button-min-space: 1em;
    --root-pechincha-container-margin-top: 2em; /*containers standerd no WEBSITE todo*/
    --root-pechincha-container-margin-sides: 5em;
    /*Paddings's do conteudo das variaveis*/
    --root-input-text-padding-sides: 1em;
    --root-form-button-padding-sides: 2em;
    --root-form-button-padding-up-and-down: 0.25em;
    /*Size do conteudo*/
    --root-text-size: 1em;
    --root-mini-icon-size: 25px;
    --root-small-icon-size: 2em;
    --root-medium-icon-size: 3em;
    --root-huge-icon-size: 5em;
    --root-gigantic-icon-size: 8em;
    --root-comerciante-logo: 10rem;
    --root-produto-image: 15rem;
    --root-account-type-logo-size: 3em;
    --root-account-type-button-width: 8em;
    --root-account-type-button-heigth: 8em;
    --root-account-type-button-border-width: 0.3em;
    --root-account-type-button-border-radius: 1em;
    --root-account-type-logo-in-button-margin-top: calc(0.5 * calc(var(--root-account-type-button-width) - var(--root-text-size) - var(--root-account-type-logo-size)));
    --root-input-text-width: 20em;
    --root-input-text-height: 2.5em;
    --root-checkbox-border-radius: 0.5em;
    --root-input-text-radius: 0.25em;
    --root-checkbox-border-thickness-when-selected: 0.2em;
    --root-insert-file-input-width: 6.5em;
    --root-search-height: 30px;
    --root-filter-area-width: 16em;
}

html {
    font-size: var(--root-text-size);
    color: var(--root-text-color);
}

body {
    height: 100%;
    width: 100%;
    min-height: 100vh;
}

.navbar-brand {
    display: flex;
    align-items: center;
    gap: 0px 10px;
}

.navbar-brand {
    display: flex;
    align-items: center;
    gap: 0px 10px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
        color: var(--root-text-color);
    }
}

@media (min-width: 576px) {
    .container,
    .container-sm {
        max-width: none;
    }
}

.pb-3 {
    padding: 0px !important;
}

.mb-3 {
    margin-bottom: 0px !important;
}

.container {
    padding: 0px;
}

.background-constrast-color {
    background-color: var(--root-background-contrast-color);
}

.background-constrast-color-2 {
    background-color: var(--root-background-contrast-color-2);
}

.display-none {
    display: none !important;
}

.display-flex {
    display: flex !important;
}

.center-text {
    text-align: center;
}

.medium-text {
    font-size: 20px;
}

/*Gradiante-main-color*/
.gradiante-main-color {
    background: linear-gradient(-110deg, var(--root-main-color) 35%, rgba(255,255,255,1) 100%);
}

.gradiante2-main-color {
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 80%, var(--root-main-color) 100%);
}

.gradiante3-main-color {
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 92%, var(--root-main-color) 100%);
}


.gradiante2-secondary-color {
    background: linear-gradient(180deg, rgba(102,209,255,1) 10%, rgba(255,255,255,1) 15%);
}

.background-height {
    min-height: 100vh;
}

.content-background {
    background-color: white;
}

.authentication-box-move {
    padding-top: calc((100vh - 660px)/2);
    height: calc(100% + ((100vh - 660px)/2));
}

.authentication-options {
    width: var(--root-authentication-box-width);
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

    .authentication-options a {
        padding: 1em 2em;
        text-decoration: none;
        color: white;
        cursor: pointer;
        border-radius: 15px 15px 0px 0px;
    }

        .authentication-options a.opened-page {
            background-color: var(--root-background-content-color);
            color: var(--root-text-color);
        }
            .authentication-options a span {
                position: relative;
                width: fit-content;
            }

            .authentication-options a.opened-page span::after {
                content: "";
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                bottom: -5px; /* Adjust the value to control the distance of the line from the text */
                width: 0%;
                height: 3px; /* Adjust the height of the line */
                background-color: var(--root-main-color); /* Adjust the color of the line */
                transition: width 0.3s;
            }
                .authentication-options a.opened-page:hover span::after {
                    width: 100%;
                }

            .authentication-options a span::after {
                content: "";
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                bottom: -5px; /* Adjust the value to control the distance of the line from the text */
                width: 0%;
                height: 3px; /* Adjust the height of the line */
                background-color: var(--root-background-content-color); /* Adjust the color of the line */
                transition: width 0.3s;
            }

                .authentication-options a:hover span::after {
                    width: 100%;
                }
                

.authentication-box {
    height: fit-content;
    width: var(--root-authentication-box-width);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 3em;
    padding-top: 3em;
    border-radius: 30px;
}            

    .authentication-box div.centered-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: var(--root-all-authentication-content-min-space);
    }

    .authentication-box .authentication-header {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        gap: 0em;
    }

    .authentication-box div .inline-div {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-bottom: var(--root-authentication-account-type-content-margin-bottom);
        gap: 0em var(--root-account-type-button-min-space);
    }

.account-type-button {
    background-color: var(--root-account-type-button-color);
    border: var(--root-account-type-button-border-width) solid var(--root-account-type-button-border-color);
    border-radius: var(--root-account-type-button-border-radius);
    text-decoration: none;
}

    .account-type-button:hover {
        border-color: var(--root-main-color);
    }

.create-product-type-button {
    background-color: var(--root-account-type-button-color);
    border: var(--root-account-type-button-border-width) solid var(--root-account-type-button-border-color);
    border-radius: var(--root-account-type-button-border-radius);
    padding: 0.5em 1em;
    text-decoration: none;
}

    .create-product-type-button:hover {
        border-color: var(--blue-color2);
    }

.a-div-button {
    width: fit-content;
    text-decoration: none;
}

    .a-div-button button {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: var(--root-account-type-button-width);
        height: var(--root-account-type-button-heigth);
    }

.account-type-cliente-logo {
    display: inline-block;
    width: var(--root-account-type-logo-size);
    height: var(--root-account-type-logo-size);
    background-image: url('../images/Cliente_logo.png');
    background-size: cover;
}

.account-type-selected .account-type-cliente-logo {
    background-image: url('../images/Cliente_logo_selected.png');
}

.a-div-button button .account-type-cliente-logo {
    margin-top: var(--root-account-type-logo-in-button-margin-top);
}

.account-type-comerciante-logo {
    display: inline-block;
    width: var(--root-account-type-logo-size);
    height: var(--root-account-type-logo-size);
    background-image: url('../images/Comerciante_logo.png');
    background-size: cover;
}

.account-type-selected .account-type-comerciante-logo {
    background-image: url('../images/Comerciante_logo_selected.png');
}

.a-div-button button .account-type-comerciante-logo {
    margin-top: var(--root-account-type-logo-in-button-margin-top);
}


.center-div-x-axis {
    margin: 0 auto;
}

@media (max-width: 40rem) {
    .authentication-box {
        width: var(--root-authentication-box-width-media);
        margin: 0;
    }

    .support-link {
        margin-left: calc(var(--root-authentication-box-width-media) - 10em) !important;
    }
}

.inline-div {
    display: inline;
}

.huge-icon-logo {
    display: inline-block;
    width: var(--root-huge-icon-size);
    height: var(--root-huge-icon-size);
    background-image: url('../images/logo_projeto.png');
    background-size: cover;
}

.small-icon-logo {
    display: inline-block;
    width: var(--root-small-icon-size);
    height: var(--root-small-icon-size);
    background-image: url('../images/logo_projeto.png');
    background-size: cover;
}

.support-link {
    width: 10em;
    margin-left: calc(var(--root-authentication-box-width) - 10em);
    padding-right: 1em;
}

.bold-text {
    font-weight: 500 !important;
}

.rigth-text {
    text-align: right !important;
}

.left-text {
    text-align: left !important;
}

.authentication-ou-line {
    position: relative;
    display: inline-block;
}

    .authentication-ou-line::after {
        content: "";
        position: absolute;
        right: -8.5em; /* Adjust as needed */
        bottom: 9px;
        width: 8em;
        height: 1px; /* Adjust line height as needed */
        border-top: 1px solid black;
    }

    .authentication-ou-line::before {
        content: "";
        position: absolute;
        left: -8.5em; /* Adjust as needed */
        bottom: 9px;
        width: 8em;
        height: 1px; /* Adjust line height as needed */
        border-top: 1px solid black;
    }

.authentication-phase {
    display: flex;
    align-items: center;
}

.authentication-basedon-column {
    flex-direction: column;
    gap: 2em 0em;
}

.authentication-basedon-row {
    width: 400px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1em 0em;
}

.authentication-input-text-div {
    width: var(--root-input-text-width);
    height: fit-content;
    position: relative;
}

    .authentication-input-text-div input {
        width: 100%;
        height: var(--root-input-text-height);
        border: none;
        border: 1px solid #ccc;
        border-radius: var(--root-input-text-radius);
        padding-left: var(--root-input-text-padding-sides);
        padding-right: var(--root-input-text-padding-sides);
        outline: none;
    }

    .authentication-input-text-div input[type="password"]::-webkit-password-suffix {
        display: none;
    }

    .authentication-input-text-div.success::after {
        content: '✓';
        position: absolute;
        top: calc(var(--root-input-text-height) / 4);
        left: 90%;
    }

        .authentication-input-text-div input:focus {
            outline: none;
            border: none;
            border: 1px solid var(--blue-color);
        }

            .authentication-input-text-div input:focus:placeholder-shown ~ label,
            .authentication-input-text-div input:focus::placeholder {
                visibility: visible;
                opacity: 1;
                color: transparent;
                bottom: calc(calc(var(--root-input-text-height) / 2) + calc(var(--root-input-text-height) - 0.5em));
            }

            .authentication-input-text-div input:focus:not(:placeholder-shown) ~ label,
            .authentication-input-text-div input:not(:placeholder-shown) ~ label {
                visibility: visible;
                color: grey !important;
                opacity: 1 !important;
                bottom: calc(calc(var(--root-input-text-height) / 2) + calc(var(--root-input-text-height) - 0.5em)) !important;
            }

            .authentication-input-text-div input:focus:not(:placeholder-shown) ~ label {
                visibility: visible;
                color: var(--blue-color) !important;
            }

        .authentication-input-text-div.edit-perfil-input input:disabled,
        .authentication-input-text-div.edit-perfil-input label::after {
            visibility: visible;
            border: 1px solid var(--root-background-contrast-color) !important;
            background-color: var(--root-background-contrast-color) !important;
        }

    .authentication-input-text-div label {
        z-index: 90;
        visibility: hidden;
        position: relative;
        bottom: calc(var(--root-input-text-height) - 0.5em);
        left: calc(0.15em + var(--root-input-text-padding-sides) - 0.5em);
        color: var(--blue-color) !important;
        padding-left: 0.5em;
        padding-right: 0.5em;
        opacity: 0;
        transition: opacity 0.3s ease-in-out, bottom 0.3s ease-in-out, visibility 0.3s ease-in-out;
        /*unselectable text*/
        -webkit-user-select: none; /* Safari 3.1+ */
        -moz-user-select: none; /* Firefox 2+ */
        -ms-user-select: none; /* IE 10+ */
        user-select: none; /* Standard syntax */
    }

        .authentication-input-text-div label::after {
            z-index: -1;
            content: ''; /* Required for pseudo-elements */
            display: block; /* Ensure the pseudo-element takes up space */
            position: absolute;
            width: 100%;
            left: 0;
            bottom: calc(var(--root-text-size) - 5px);
            height: 1px; /* Height of the line */
            background-color: var(--root-background-content-color);
        }

    .authentication-input-text-div span.text-danger {
        display: block;
        position: relative;
        bottom: calc(var(--root-input-text-height) * 0.5);
        text-align: center;
        margin: 0 !important;
    }

@media (max-width: 20rem) {
    .authentication-input-text-div {
        width: var(--root-authentication-box-width-media) !important;
    }

        .authentication-input-text-div button.password-hidden,
        .authentication-input-text-div button.password-visible {
            left: calc(var(--root-authentication-box-width-media) - 25px - 1px - 5px) !important;
        }
}

.authentication-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 0em var(--root-authentication-button-min-space);
}

@media (max-width: 30rem) {
    .authentication-buttons {
        width: var(--root-authentication-box-width-media) !important;
        justify-content: center;
        gap: var(--root-authentication-button-min-space) var(--root-authentication-button-min-space) !important;
    }
}

.confirm-button {
    flex: 0 1 auto;
    width: fit-content;
    padding-left: var(--root-form-button-padding-sides);
    padding-right: var(--root-form-button-padding-sides);
    padding-bottom: var(--root-form-button-padding-up-and-down);
    padding-top: var(--root-form-button-padding-up-and-down);
    background-color: var(--root-main-color);
    border: none;
    text-decoration: none;
    color: var(--root-text-color-on-main-color);
    cursor: pointer;
}

    .confirm-button:hover {
        filter: brightness(0.92);
    }

.cancel-button {
    flex: 0 1 auto;
    width: fit-content;
    padding-left: var(--root-form-button-padding-sides);
    padding-right: var(--root-form-button-padding-sides);
    padding-bottom: var(--root-form-button-padding-up-and-down);
    padding-top: var(--root-form-button-padding-up-and-down);
    background-color: var(--root-background-content-color);
    border: 1px solid var(--root-border-color-to-default-background-container);
    text-decoration: none;
    color: var(--root-text-color);
    cursor: pointer;
}

    .cancel-button:hover {
        filter: brightness(0.92);
        color: var(--root-text-color);
    }

a.cancel-button::before {
    background-color: var(--root-background-content-color);
}

a.cancel-button:hover::before {
    opacity: 0.5;
}

@media (max-width: 277px) {
    .confirm-button,
    .cancel-button {
        padding-left: 0px;
        padding-right: 0px;
        width: 100%;
        text-align: center;
    }
}


.authentication-checkbox label {
    padding-left: var(--root-form-button-padding-sides);
    padding-right: var(--root-form-button-padding-sides);
    padding-bottom: var(--root-form-button-padding-up-and-down);
    padding-top: var(--root-form-button-padding-up-and-down);
    background-color: var(--root-background-content-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
    border-radius: var(--root-checkbox-border-radius);
    outline-offset: -1px;
    color: var(--root-text-color);
}

.authentication-checkbox input[type="checkbox"] {
    display: none;
    cursor: pointer;
}

    .authentication-checkbox input[type="checkbox"]:checked ~ label {
        background-color: var(--root-main-color);
        box-shadow: none;
        color: white;
    }

    .authentication-checkbox input[type="checkbox"]:hover ~ label {
        filter: brightness(0.95);
    }

.insert-file {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 2px dashed black;
    width: 20em;
    padding: 1em;
    gap: 1em;
    height: fit-content;
}

    .insert-file div.title {
        font-weight: bold;
    }

    .insert-file div.title::after {
        content: '';
        position: relative;
        display: block;
        left: calc(50% - var(--root-medium-icon-size) / 2);
        width: var(--root-medium-icon-size);
        height: var(--root-medium-icon-size);
        background-size: cover;
    }

    .insert-file div.insert-file-input {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        min-width: 50%;
        max-width: 75%;
        height: fit-content;
    }

        .insert-file div.insert-file-input .file-name {
            /*NewText*/
            width: 100%;
            white-space: normal; /* Wrap the text to the next line */
            word-wrap: break-word; /* Break long words if needed */
            text-align: center;
        }

    .insert-file input[type="file"] {
        /*OldText and OldButton*/
        z-index: 1;
        color: transparent;
        width: var(--root-insert-file-input-width);
    }

        .insert-file input[type="file"]::-webkit-file-upload-button {
            /*OldButton*/
            padding-top: 0;
            padding-bottom: 0;
            position: absolute;
            left: calc(50vw - var(--root-insert-file-input-width) / 2);
            margin: 0 auto;
            background-color: var(--root-background-content-color);
            color: var(--root-border-color-to-default-background-container);
            border: none;
            border-radius: var(--root-input-text-radius);
            outline: none;
            cursor: pointer;
        }

    .insert-file label {
        /*NewButton*/
        z-index: 2;
        position: relative;
        left: calc(0.5 * var(--root-insert-file-input-width));
        text-align: center;
        width: var(--root-insert-file-input-width);
        background-color: var(--root-background-content-color);
        color: var(--root-border-color-to-default-background-container);
        border: 2px solid var(--root-border-color-to-default-background-container);
        border-radius: var(--root-input-text-radius);
        outline: none;
        cursor: pointer;
    }

    .insert-file input[type="file"]::-webkit-file-upload-button:hover {
        filter: brightness(0.92);
    }

    .insert-file.file-type-image div.title::after {
        background-image: url('../images/uploadImage.png') !important;
    }


    .insert-file.file-type-pdf div.title::after {
        background-image: url('../images/uploadPdf.png') !important;
    }

    .insert-file.file-type-pdf input[type="file"]::-webkit-file-upload-button {
        content: 'Adicionar Documento'
    }


.authentication-input-text-div button.password-hidden,
.authentication-input-text-div button.password-visible {
    position: absolute;
    top: calc((var(--root-input-text-height) - 25px)/2);
    left: calc(var(--root-input-text-width) - 25px - 1px - 5px);
    background-color: var(--root-background-content-color);
    border: none;
}
    .authentication-input-text-div input.with-show-button{
        padding-right: 40px;
    }

.password-visible {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-image: url('../images/eye-opened.png');
    background-size: cover;
}

.password-hidden {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-image: url('../images/eye-closed.png');
    background-size: cover;
}


.form-gsignin {
    margin: 0;
}

.gsi-material-button {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -webkit-appearance: none;
    background-color: WHITE;
    background-image: none;
    border: 1px solid #747775;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #1f1f1f;
    cursor: pointer;
    font-family: 'Roboto', arial, sans-serif;
    font-size: 14px;
    height: 40px;
    letter-spacing: 0.25px;
    outline: none;
    overflow: hidden;
    text-align: center;
    -webkit-transition: background-color .218s, border-color .218s, box-shadow .218s;
    transition: background-color .218s, border-color .218s, box-shadow .218s;
    vertical-align: middle;
    white-space: nowrap;
    width: 40px;
    max-width: 400px;
    min-width: min-content;
    bottom: 150px;
}

    .gsi-material-button .gsi-material-button-icon {
        min-width: 38.17px;
        width: 20px;
        margin: 0;
        padding: 9px;
    }

    .gsi-material-button .gsi-material-button-content-wrapper {
        -webkit-align-items: center;
        align-items: center;
        display: flex;
        -webkit-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: nowrap;
        flex-wrap: nowrap;
        height: 100%;
        justify-content: space-between;
        position: relative;
        width: 100%;
    }

    .gsi-material-button .gsi-material-button-contents {
        -webkit-flex-grow: 1;
        flex-grow: 1;
        font-family: 'Roboto', arial, sans-serif;
        font-weight: 500;
        overflow: hidden;
        text-overflow: ellipsis;
        vertical-align: top;
    }

    .gsi-material-button .gsi-material-button-state {
        -webkit-transition: opacity .218s;
        transition: opacity .218s;
        bottom: 0;
        left: 0;
        opacity: 0;
        position: absolute;
        right: 0;
        top: 0;
    }

    .gsi-material-button:disabled {
        cursor: default;
        background-color: #ffffff61;
        border-color: #1f1f1f1f;
    }

        .gsi-material-button:disabled .gsi-material-button-contents {
            opacity: 38%;
        }

        .gsi-material-button:disabled .gsi-material-button-icon {
            opacity: 38%;
        }

    .gsi-material-button:not(:disabled):active .gsi-material-button-state,
    .gsi-material-button:not(:disabled):focus .gsi-material-button-state {
        background-color: #303030;
        opacity: 12%;
    }

    .gsi-material-button:not(:disabled):hover {
        -webkit-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15);
        box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15);
    }

        .gsi-material-button:not(:disabled):hover .gsi-material-button-state {
            background-color: #303030;
            opacity: 8%;
        }

.gsi-material-text {
    margin-right: 12px;
}

@media (max-width: 572px) {
    .gsi-material-text {
        display: none;
        margin-right: 0px;
    }

    .gsignin-div {
        width: fit-content;
    }
}

[class^="support-image-"] {
    display: inline-block !important;
    background-size: cover !important;
    margin: 0 auto;
}

.support-image-1 {
    width: 700px;
    height: 400px;
    background-image: url(../images/AuthenticationSupport1.png);
}

.support-image-2 {
    width: 700px;
    height: 400px;
    background-image: url(../images/AuthenticationSupport2.png);
}

.support-image-3 {
    width: 800px;
    height: 700px;
    background-image: url(../images/AuthenticationSupport3.png);
}

.support-image-4 {
    width: 800px;
    height: 700px;
    background-image: url(../images/AuthenticationSupport4.png);
}

.support-image-5 {
    width: 800px;
    height: 700px;
    background-image: url(../images/AuthenticationSupport5.png);
}

.support-image-6 {
    width: 800px;
    height: 700px;
    background-image: url(../images/AuthenticationSupport6.png);
}

.support-image-7 {
    width: 800px;
    height: 700px;
    background-image: url(../images/AuthenticationSupport7.png);
}

.support-image-8 {
    width: 800px;
    height: 700px;
    background-image: url(../images/AuthenticationSupport8.png);
}

.support-image-9 {
    width: 800px;
    height: 700px;
    background-image: url(../images/AuthenticationSupport9.png);
}

.support-image-10 {
    width: 800px;
    height: 700px;
    background-image: url(../images/AuthenticationSupport10.png);
}

.support-image-11 {
    width: 800px;
    height: 700px;
    background-image: url(../images/AuthenticationSupport11.png);
}

.support-image-12 {
    width: 800px;
    height: 700px;
    background-image: url(../images/AuthenticationSupport12.png);
}

.support-image-13 {
    width: 800px;
    height: 700px;
    background-image: url(../images/AuthenticationSupport13.png);
}

.support-image-14 {
    width: 800px;
    height: 700px;
    background-image: url(../images/AuthenticationSupport14.png);
}

.support-image-15 {
    width: 800px;
    height: 700px;
    background-image: url(../images/AuthenticationSupport15.png);
}

.search-input-size {
    max-width: 500px;
    min-width: 200px;
}

.nav-search-div {
    display: flex;
    z-index: 2;
    position: relative;
    width: 100%;
    height: var(--root-search-height);
}
    .nav-search-div input,
    .nav-search-div button {
        position: absolute;
    }

    .nav-search-div input {
        width: 100%;
        height: 100%;
        border: none;
        border-radius: var(--root-search-height);
        border: 1px solid black;
        padding-left: var(--root-input-text-padding-sides);
        padding-right: calc(5px + var(--root-search-height));
    }
        .nav-search-div input:focus {
            outline: none;
        }

        .nav-search-div input:focus ~ button{
            opacity: 1;
            width: var(--root-search-height);
        }


    .nav-search-div button {
        opacity: 1;
        right: 0;
        width: var(--root-search-height);
        height: 100%;
        border: none;
        border-radius: 50%; /* Make it a circle */
        border: 1px solid black;
        background-color: var(--root-main-color);
        transition: width 0.3s ease, opacity 0.2s ease;
    }

        .nav-search-div button:hover {
            filter: brightness(0.95);
        }


        .nav-search-div button::before {
            content: '';
            position: absolute;
            top: 27%;
            left: 27%;
            aspect-ratio: 1 / 1;
            width: 30%;
            border: 1px solid black;
            border-radius: 50%;
        }

        .nav-search-div button::after {
            content: '';
            position: absolute;
            bottom: 28%;
            right: 28%;
            transform: rotate(45deg);
            aspect-ratio: 2 / 1;
            width: 25%;
            border-top: 1px solid black;
        }

.sugestions {
    display: none;
    z-index: 1;
    position: absolute;
    top: 50px;
    width: 100%; /*Este valor é fake e é atualizado no oninput*/    
    max-height: 50vh;
    overflow: auto;
    background-color: var(--root-background-content-color);
    margin-top: calc(-1 * var(--root-search-height) * 0.5);
    padding-top: calc(10px + var(--root-search-height) * 0.5);
    padding-bottom: 10px;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-radius: 0px 0px 15px 15px;
}

    .sugestions::before {
        position: relative;
        content: '';
        display:block;
        width: 92%;
        top: -4px;
        margin: 0 auto;
        height: 1px;
        background-color: gray;
    }

    .sugestions div {
        padding-left: var(--root-input-text-padding-sides);
        padding-right: calc(5px + var(--root-search-height));
        cursor: pointer;
        background-color: var(--root-background-content-color);
    }

        .sugestions div:hover,
        .sugestions div.hovered{
            filter: brightness(0.95);
        }

        .sugestions div > span:nth-child(2) {
            font-weight: bold;
        }


.pechincha-container {
    display: flex;
    justify-content: center;
    padding-top: var(--root-pechincha-container-margin-top);
}

    .pechincha-container section {
        width: calc(100vw - var(--root-pechincha-container-margin-sides));
        min-height: 100%
    }

.column-container,
.row-container,
.right-flex,
.left-flex,
.center-x-flex,
.edges-flex,
.space-around-flex,
.wrap-flex, 
.center-y-flex,
.bottom-y-flex{
    display: flex;
}

.column-container {
    flex-direction: column !important;
}

.row-container {
    flex-direction: row !important;
}

.right-flex {
    justify-content: right !important;
}

.left-flex {
    justify-content: left !important;
}

.space-around-flex {
    justify-content: space-around !important;
}

.center-x-flex {
    justify-content: center !important;
}

.center-y-flex {
    align-items: center !important;
}

.bottom-y-flex {
    align-items: flex-end !important;
}

.edges-flex {
    justify-content: space-between !important;
}

.wrap-flex {
    flex-wrap: wrap;
}

.shrink-flex {
    flex-shrink: 5;
}

.grow-flex {
    flex-grow: 1;
}

.push-left {
    margin-right: auto;
}

.push-right {
    margin-left: auto;
}

.thin-outline {
    outline: 1px solid var(--root-border-color-to-default-background-container);
}

.rounded-border {
    border-radius: 10px;
}

.medium-gap-x {
    gap: 0px 5em;
}

.medium-gap-y {
    gap: 5em 0px;
}

.small-gap-x {
    gap: 0px 2em;
}

.small-gap-y {
    gap: 2em 0px;
}

.small-gap {
    gap: 2em 2em;
}

.smaller-gap {
    gap: 1em 1em;
}

.smaller-gap-x {
    gap: 0px 1em;
}

.smaller-gap-y {
    gap: 1em 0px;
}

.tiny-gap {
    gap: 0.4em 0.4em;
}

.tiny-gap-x {
    gap: 0px 0.4em;
}

.tiny-gap-y {
    gap: 0.4em 0px;
}

.small-padding {
    padding: 1em;
}
.small-padding-right2{
    padding-right: 1em;
}

.smaller-padding {
    padding: 0.5em;
}

.smaller-padding-left {
    padding-left: 0.5em;
}

.smaller-padding-top {
    padding-top: 1em;
}

.small-padding-right {
    padding-right: 2em;
}

.small-padding-left {
    padding-left: 2em;
}

.small-padding-top {
    padding-top: 2em;
}

.medium-padding-top {
    padding-top: 4em;
}

.medium-padding-left {
    padding-left: 4em;
}

.small-margin-bottom {
    margin-bottom: 1em;
}

.small-margin-top {
    margin-top: 1em;
}

.small-margin-left {
    margin-left: 1em;
}

.small-margin-right {
    margin-right: 1em;
}

.no-margin {
    margin: 0 !important;
}

.filter-area-width {
    min-width: var(--root-filter-area-width);
}

.screen-height {
    height: 100vh;
}

.fit-content-width {
    width: fit-content;
}

.max-width {
    width: 100%; 
}

.max-height {
    height: 100%;
}

.fit-content-height {
    height: fit-content;
}

.min-content-height {
    height: min-content;
}

.max-content-height {
    height: max-content;
}

.search-result {
    height: 20em;
    aspect-ratio: 1 / 1;
    text-decoration: none;
    color: var(--root-text-color);
    background-color: var(--root-background-content-color);
    padding: 1em;
    outline: 0.1em solid black;
}

.search-result:hover {
    color: var(--root-text-color);
    filter: brightness(0.95);
}

.search-image {
    display: inline-block;
    width: calc(0.75 * 20em);
    height: calc(0.75 * 20em);
    background-size: 100% 100%;
}

.search-name {
    font-weight: 500;
    font-size: 20px;
}

.ordenar-search-button {
    background: var(--root-background-contrast-color-2);
    border: none;
    outline: none;
    padding: 0.2em;
    margin: 0.6em;
    width: 270px;
    border-radius: 10px;
}

.ordenar-search-button > span{
    font-weight: 500;
}

.ordenar-search-button > span > span{
    font-weight: normal !important;
}

.ordenar-search-button button,
.ordenar-search-button button.active{
    background: var(--root-background-contrast-color-2) !important;
}

.ordenar-search-button:hover,
.ordenar-search-button:hover button {
    background:  var(--root-background-contrast-color) !important;
}

.mini-image {
    display: inline-block;
    background-size: 100% 100%;
    width: var(--root-mini-icon-size);
    height: var(--root-mini-icon-size);
}

.small-image {
    display: inline-block;
    background-size: 100% 100%;
    width: var(--root-small-icon-size);
    height: var(--root-small-icon-size);
}
.medium-image {
    display: inline-block;
    background-size: 100% 100%;
    width: var(--root-medium-icon-size);
    height: var(--root-medium-icon-size);
}
.huge-image {
    display: inline-block;
    background-size: 100% 100%;
    width: var(--root-gigantic-icon-size);
    height: var(--root-gigantic-icon-size);
}

.small-perfil-image,
.medium-perfil-image,
.big-perfil-image,
.huge-perfil-image{
    display: inline-block;
    background-size: 100% 100%;
    border-radius: 100%;
}

    .small-perfil-image {
        width: var(--root-small-icon-size);
        height: var(--root-small-icon-size);
    }

    .medium-perfil-image {
        width: var(--root-medium-icon-size);
        height: var(--root-medium-icon-size);
    }

    .big-perfil-image {
        width: var(--root-huge-icon-size);
        height: var(--root-huge-icon-size);
    }

    .huge-perfil-image{
        width: 200px; 
        aspect-ratio: 1 / 1;
    }

.sad-face {
    display: inline-block;
    width: 100px;
    height: 69px;
    background-size: 100% 100%;
    background-image: url('../images/sad.png');
}

/*
    This class's makes the following tags look like a button:
    - button
    - div
    - a

    Example:
    <div class="pechincha-button main-button-color"></div>
    <div class="pechincha-button default-button-color"></div>
*/
.pechincha-button {
    flex: 0 1 auto;
    width: calc((var(--root-form-button-padding-sides) * 2) + 3em);
    height: 30px;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
    border-radius: 5px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);

    /*unselectable text*/
    -webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Standard syntax */
}

    .pechincha-button:hover {
        filter: brightness(0.92);
        box-shadow: none;
    }

.main-button-color {
    background-color: var(--root-main-color);
    border: none;
    color: var(--root-text-color-on-main-color);
}
    .main-button-color:hover {
        color: var(--root-text-color-on-main-color);
    }
a.main-button-color::before {
    background-color: var(--root-main-color);
}
a.main-button-color:hover::before {
    opacity: 0.5;
}

.default-button-color {
    background-color: var(--root-background-content-color);
    border: 1px solid var(--root-border-color-to-default-background-container);
    color: var(--root-text-color);
}
    .default-button-color:hover {
        color: var(--root-text-color);
    }
a.default-button-color::before {
    background-color: var(--root-background-content-color);
}

a.default-button-color:hover::before {
    opacity: 0.5;
}


.unselectable-button {
    filter: brightness(0.85);
    cursor: not-allowed;
}

    .unselectable-button:hover {
        filter: brightness(0.85);
    }

.xxl-button {
    width: calc(var(--root-input-text-width) - 2em);
    height: 80px !important;
    background-color: var(--root-background-content-color);
    border: none;
    color: var(--root-text-color);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 15px;
}

    .xxl-button.account-type-selected {
        border: none;
        outline: 3px solid var(--root-main-color);
        background-color: var(--root-main-color-low-opacity) !important;
        box-shadow: none;
    }

    .xxl-button.account-type-selected:hover{
        filter: none;
    }


.bigger-button {
    width: calc((var(--root-form-button-padding-sides) * 2) + 7em) !important;
    height: 30px !important;
}

.medium-button {
    width: calc((var(--root-form-button-padding-sides) * 2) + 5em) !important;
    height: 30px !important;
}

.small-button {
    width: calc((var(--root-form-button-padding-sides) * 2) + 1em) !important;
    height: 30px !important;
}

.pechincha-link {
    display: inline-block !important;
    width: 100%;
    height: 30px;
    text-decoration: none;
    text-align: left;
    cursor: pointer;
    padding: 0px;
    margin: 0px;
    border: none !important;
    color: var(--root-text-color);
    background-color: var(--root-background-content-color);
    padding-left: 1em;
    z-index: 999;
    /*unselectable text*/
    -webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Standard syntax */
}
    .pechincha-link:hover{
        background-color: var(--root-background-content-color) !important;
        color: var(--root-text-color) !important;
    }

    .move-text {
        transition: margin-left 0.3s ease;
    }

    .pechincha-link:hover .move-text{
        margin-left: 10px; 
        color: var(--blue-color);
        position: relative;
    }

        .pechincha-link:hover .move-text::before {
            content: ' ';
            width: 0;
            height: 0;
            border-top: 5px solid transparent; 
            border-bottom: 5px solid transparent;
            border-left: 10px solid var(--blue-color);
            position: absolute;
            top: 5px;
            left: -15px;
        }

.invisible {
    opacity: 0;
    visibility: hidden;
}

.off-screen {
    position: absolute;
    left: -9999px;
}

.text-indent {
    text-indent: -9999px;
}

.new-page {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.25);
    position: fixed;
    top: 0;
    left: 0;
    transition: background-color 0.3s; /* Smooth transition */
    z-index: 999;
    display: flex;
    justify-content: center;
    overflow: auto;
}
    
    .new-page > div.small-page {
        width: 400px;
        height: 400px;
        top: calc(50vh - (400px / 2));
    }

    .new-page > div.smaller-page {
        width: 400px;
        height: 240px;
        top: calc(50vh - (400px / 2));
    }

    .new-page > div.big-page {
        width: 800px;
        height: 600px;
        top: calc(50vh - (600px / 2));
    }

    .new-page > div.small-page,
    .new-page > div.big-page,
    .new-page > div.smaller-page{
        background-color: var(--root-background-content-color);
        position: absolute;
        padding: 10px;
        border-radius: 10px;
    }
  
    @media screen and (max-height: 400px) {
        .new-page > div.small-page {
            position: relative !important;
            top: 0 !important;
        }
    }

    @media screen and (max-height: 600px) {

        .new-page > div.big-page {
            position: relative !important;
            top: 0 !important;
        }
    }
@media screen and (max-height: 200px) {

    .new-page > div.smaller-page {
        position: relative !important;
        top: 0 !important;
    }
}

    .new-page .title {
        font-size: 20px;
    }

    .no-overflow {
        overflow: hidden !important;
    }

    .cross-button {
        position: relative;
        width: 30px;
        height: 30px;
        cursor: pointer;
        border-radius: 100%;
        background-color: var(--root-background-content-color);
    }

    @media (hover: hover) and (pointer: fine) {
        .cross-button:hover {
            filter: brightness(0.92);
        }
    }

    @media not all and (hover: hover) {
        .cross-button:active {
            filter: brightness(0.92);
        }
    }

    .cross-button::before,
    .cross-button::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 80%;
        height: 1px;
        background-color: black;
        transform: translate(-50%, -50%);
    }

    .cross-button::before {
        transform: translate(-50%, -50%) rotate(45deg);
    }

    .cross-button::after {
        transform: translate(-50%, -50%) rotate(-45deg);
    }

    .clickable-div {
        cursor: pointer;
        background-color: var(--root-background-content-color);
    }

    @media (hover: hover) and (pointer: fine) {
        .clickable-div:hover {
            filter: brightness(0.92);
        }
    }

    @media not all and (hover: hover) {
        .clickable-div:active {
            filter: brightness(0.92);
        }
    }

    .hoverable-div{
        background-color: var(--root-background-content-color);
    }

    @media (hover: hover) and (pointer: fine) {
        .hoverable-div:hover {
            filter: brightness(0.98);
        }
    }

    @media not all and (hover: hover) {
        .hoverable-div:active {
            filter: brightness(0.98);
        }
    }


    .perfil-image-border {
        border: 2px solid white;
        outline: 2px solid black;
    }

    .perfil-image-div-position {
        position: relative;
        top: 50px;
        left: 1em;
    }

    .perfil-image-to-edit {
        display: flex;
        justify-content: center;
        align-items: center;
    }

        .perfil-image-to-edit span {
            text-indent: -9999px;
            font-size: 20px;
            font-weight: 500;
            z-index: 99;
        }

    @media (hover: hover) and (pointer: fine) {
        .perfil-image-to-edit:hover::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(255, 255, 255, 0.5);
            border-radius: 100%;
            z-index: 10;
        }

        .perfil-image-to-edit:hover span {
            text-indent: 0px;
        }
    }

    .perfil-button-image-edit {
        margin-bottom: 10px;
    }

    .unselectable-text {
        -webkit-user-select: none; /* Safari 3.1+ */
        -moz-user-select: none; /* Firefox 2+ */
        -ms-user-select: none; /* IE 10+ */
        user-select: none; /* Standard syntax */
    }

.photo-chooser {
    height: 300px;
    overflow: auto;
    padding-top: 1em;
}

.list-chooser {
    height: 300px;
    overflow: auto;
    padding-top: 1em;
}

.photo-option input[type="radio"]:checked + label span.big-perfil-image {
    outline-color: var(--blue-color);
    position: relative;
}

.calendar-chooser {
    height: 400px;
    overflow: auto;
    padding-top: 1em;
}
    .calendar-chooser .month-name {
        grid-column: 1 / span 7;
        text-align: center;
        font-size: 20px;
    }

    .calendar-chooser .month {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
    }

    .calendar-chooser .day {
        padding-left: 2px;
        padding-right: 2px;
    }

    .calendar-chooser .day-selected {
        background-color: rgb(222, 237, 255);
    }

    .calendar-chooser .day-selected-master {
        background-color: rgb(156, 200, 251);
    }

    .photo-option input[type="radio"]:checked + label span.big-perfil-image {
        outline-color: var(--blue-color);
        position: relative;
    }

    .photo-option input[type="radio"]:checked + label span.big-perfil-image::after {
        content: '✓';
        text-align: center;
        outline: 2px solid var(--blue-color);
        background-color: var(--root-background-content-color);
        border-radius: 100%;
        height: 30%;
        width: 30%;
        bottom: 0px;
        right: 0px;
        font-size: 20px;
        font-weight: 600;
        color: var(--blue-color);
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        margin-left: var(--root-huge-icon-size);
    }

.preferences-parent {
    max-width: 300px;
}

.preferences-label {
    position: relative;
    height: fit-content;
    padding-left: 8px;
    padding-right: 8px;
    bottom: calc(var(--root-text-size) - 2px);
    left: 10px;
}

    .preferences-label ~ * {
        position: relative;
        bottom: calc(var(--root-text-size) - 2px);
    }

.edit-checkbox label {
    width: 120%;
    height: calc((var(--root-form-button-padding-up-and-down) * 2) + 1em);
    background-color: var(--root-background-content-color);
    text-align: center;
    outline: 1px solid var(--root-border-color-to-default-background-container);
    border-radius: var(--root-checkbox-border-radius);
    outline-offset: -1px;
    color: var(--root-text-color);
    cursor: pointer;
}

.edit-checkbox input:disabled ~ label {
    background-color: var(--root-background-contrast-color-2);
    outline-width: 3px !important;
}

.edit-checkbox input[type="checkbox"] {
    display: none;
}

    .edit-checkbox input[type="checkbox"]:checked ~ label {
        outline-color: var(--root-main-color);
        outline-width: 3px;
    }

    .edit-checkbox input[type="checkbox"]:hover ~ label {
        filter: brightness(0.95);
    }

.no-padding {
    padding: 0px;
}

.height-fit-content {
    height: fit-content;
}

.perfil-nav-menu {
    background-color: var(--root-background-content-color);
    width: 10em;
    position: relative;
    top: calc(var(--root-small-icon-size) + 18px);
    right: calc(10em - var(--root-small-icon-size));
    padding: 0.5em 0em 0.5em 0em;
    z-index: 99;
    border-top: 10px solid var(--root-background-contrast-color-2);
    border-bottom: 2px solid var(--root-background-contrast-color-2);
    border-left: 2px solid var(--root-background-contrast-color-2);
    border-right: 2px solid var(--root-background-contrast-color-2);
    border-radius: 10px;
}

    .perfil-nav-menu::after {
        content: '';
        width: 0;
        height: 0;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 16px solid var(--root-background-contrast-color-2);
        position: absolute;
        top: -26px;
        right: calc((var(--root-small-icon-size) / 2) - (16px / 2) - 2px);
    }



.remove-hover:hover {
    background-color: transparent !important;
    box-shadow: none !important;
}

.cursor-pointer{
    cursor: pointer;
}


/* 09 / 03*/


.dropbtn {
    background-color: rgb(250, 181, 70);
    color: white;
    border-radius: 15% 15% 15%;
    font-size: 16px;
    border: none;
    z-index: -1;
}


.dropdown {
    position: relative;
    display: inline-block;
}


.dropdown-content { 
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: calc((270px / 2) - (160px / 2));
}

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        font-size: 15px;
        text-decoration: none;
        display: block;
        cursor: pointer;
    }

       
        .dropdown-content a:hover {
            background-color: #ddd;
        }


.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    cursor: pointer;
    transition: all 1s ease;
}
.delete-button-color {
    border: 2.5px solid #FF4646;
    background-color:white;
    opacity: 0.85;
    color: var(--root-text-color border-radius);
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
}
    .delete-button-color:hover {
        background-color: #FF4646;
        color: white;
        transition: background-color 0.3s ease-in-out;
        
    }
.delete-div{
    display:flex;
    justify-content:flex-end;
   
}

.colapsable-div {
    position: relative;
    display: flex;
    cursor: pointer;
    align-items:center;
}

.colapsable-content {
    width:100%;
}


.colapsable-button {
    border: solid var(--root-main-color);
    border-width: 0 3px 3px 0;
    position: relative;
    padding: 4px;
    margin:inherit;
    transition: transform 0.3s ease;
    transform: rotate(45deg);
}


    .colapsable-button.active {
        background-color: inherit;
        transform: rotate(-135deg);
    }

.small-heading {
    font-size: 1.25em;
    font-weight: bold;
    width: fit-content;
}

.break-line {
    width: 100%;
    border: 1px solid black;
}

.small-page-product{
    width:calc(var(--root-gigantic-icon-size) + 4em);
    word-wrap:break-word;
}


.buttons-end{
    display:flex;
  justify-self:flex-end;}

@media screen and (max-width: 670px) {
    .pechincha-navbar {      
    }

    .pechincha-navbar-button {
        display: block !important;
        width: 30px;
        height: 30px;
        position: relative;
    }

    .pechincha-navbar-button span {
        display: block !important;
        width: 30px;
        height: 0.1em;
        background-color: black;
        position: absolute;
        top: calc(15px - 0.1em);

    }

        .pechincha-navbar-button span::after {
            display: block;
            width: 30px;
            height: 0.1em;
            background-color: black;
            transition: all .5s ease;
            position: absolute;
            content: '';
            top: 15px;
        }

        .pechincha-navbar-button span::before {
            display: block;
            width: 30px;
            height: 0.1em;
            background-color: black;
            transition: all .5s ease;
            position: absolute;
            content: '';
            top: -15px;
        }

        .pechincha-navbar-button.nav-opened span::after {
            top: 0px;
            transform: rotate(45deg);
        }

        .pechincha-navbar-button.nav-opened span::before {
            top: 0px;
            transform: rotate(-45deg);
        }

        .pechincha-navbar-button.nav-opened span {
            background-color: transparent;
        }

    .pechincha-navbar-option {
        display: none !important;
        background: none !important;
        border: none !important;
        outline: none !important;
    }

    .pechincha-navbar-option-hide {
        background: none !important;
        border: none !important;
        outline: none !important;
    }
}

.pechincha-navbar.opened {
    width: 100vw;
    height: 100vh;
    background-color: var(--root-background-content-color);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    display: flex;
    justify-content: center;
    overflow: auto;
}

.pechincha-navbar-button {
    display: none;
}

.pechincha-navbar-option.opened {
    display: inline-block !important;
}

.back {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-image: url(../images/down-arrow.png);
    background-size: cover;
    transform: rotate(90deg);
    margin-top: 1.5em;
    margin-left: 1.5em;
    margin-bottom: 0em;
    cursor: pointer;
}

.absolute-position {
    position: absolute;
}

.relative-position {
    position: relative;
}
   
.tooltip-icon {
    width: var(--root-mini-icon-size);
    height: var(--root-mini-icon-size);
    outline: 2px solid black; /* Change the background color as needed */
    border-radius: 50%; /* This makes the element round */
    font-size: 20px;
    font-weight: 600;
    color: black;
    cursor: pointer;
}

.tooltip-message {
    background-color: var(--root-main-color);
    position: absolute;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    top: calc(var(--root-mini-icon-size) + 25px);
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-wrap: wrap;
    width: 20em;
    word-wrap: break-word;
    border-radius: 20px;
    z-index: 999;
}

    .tooltip-message::after {
        content: '';
        width: 0;
        height: 0;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 16px solid var(--root-main-color);
        position: absolute;
        top: -16px;
        right: calc((20em / 2) - (16px / 2));
        z-index: 999;
    }


    .tooltip-message span {
        display: inline-block;
    }

    .tooltip-message span.bold-text {
        margin-bottom: 10px;
    }

.background-white{
    background:white;
}

.ease-trasform {
    transition: max-height 0.3s ease;
}

.max-width .open {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.center-image {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50% 50%;
}

.coming-soon {
    width: var(--root-comerciante-logo);
    height: var(--root-comerciante-logo);
    background-image: url('../images/coming-soon.png');
    background-size: contain;
    background-position: center;
    display: block;
    margin: auto;
}

.carousel {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}

    .carousel::-webkit-scrollbar {
        display: none; /* Hide the scrollbar in WebKit browsers */
    }

.carousel-nav {
    position: fixed;
    background-color: white;
    height: 320px;
    width: calc(4em - 20px);
    z-index: 999;
}

.carousel-nav button {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translateY(-50%);
    transform: translateX(-50%);
    height: 30px;
    width: 30px;
    border: none;
    background-color: white;
    font-size: 20px;
    color: black;
    cursor: pointer;
    padding: 0px;
    font-weight: 700;
    font-size: 30px;
}

.carousel-arrow {
    position: absolute;
    top: 50%;
    left: 10px; /* Adjust position of the arrow */
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 15px 10px 0; /* Adjust size and shape of the arrow */
    border-color: transparent black transparent transparent; /* Adjust color of the arrow */
    transform: translateY(-50%);
    content: '';
}

.prev .carousel-arrow {
    transform: translateY(-50%);
}

.next .carousel-arrow {
    transform: translateY(-50%) rotate(180deg);
}



    .carousel-nav.prev {
        left: 0px;
    }

    .carousel-nav.next {
        right: 0px;
    }