html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 10px;

}

.image {
  width: 70px
}

.box {
    margin: auto;
    width: 80%;
    border: 3px solid white;
    background-color: #ffffff;
    padding: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.center {
    text-align: center
}

.right {
    text-align: right
}

.botaoLaranja {
    background-color: #FFB546;
    width: 100px;
    align-items: center;
    margin: 5px;
    border: 1px solid transparent;
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.3);
}

.botaocinza {
    background-color: #CDCDCD;
    width: 100px;
    align-items: center;
    margin: 5px;
    border: 1px solid transparent;
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    cursor: pointer;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.3);
}

.orange {
    color: #FFB546;
}

.gradianteLaranja {
    background: rgb(255,181,70);
    background: linear-gradient(-110deg, rgba(255,181,70,1) 35%, rgba(255,255,255,1) 100%);
}

.gradianteAzul {
    background: rgb(102,209,255);
    background: linear-gradient(-110deg, rgba(102,209,255) 35%, rgba(255,255,255,1) 100%);
}


.buttons{
    display:flex;
    justify-content:space-evenly;
}

.cancel {
    background-color: #f44336;
    padding: 10px 15px;
    margin: 0px 0px 0px 10px;
    text-align: center;
    border: 1px solid transparent;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    color: white;
    text-decoration: none;
}

.cancel:hover {
    background-color: red;
    color: white;
}

.insert-file{
    border: 1px solid grey;
    border-radius:5px;
    margin-bottom: 10px;
}

.blueBackground {
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 80%, rgba(102,209,255) 100%);
}

.addProduct {
    display: flex;
    justify-content:space-around;
}

.addProductLeft {
    display:flex;
    flex-direction:column;
    width:300px
}

.addProductRight {
    display: flex;
    flex-direction: column;
}