

:root {
    /*-------------------------------*-
    |*             Cores             *|
    -*-------------------------------*/
    /*Cor "Web Standard" para todos links, campos selecionados etc...*/
    --blue-color: rgba(12, 138, 255, 1);
    /*cor principal do website (tema)*/
    --root-main-color: rgb(255,181,70, 1);
    /*cor do texto que esta sobre um background main color no website todo*/
    --root-text-color-on-main-color: white;
    /*cor de background tudo que contem texto ou qualquer tipo de conteudo*/
    --root-background-content-color: white;
    /*cor do texto no website todo*/
    --root-text-color: black;
    /*cor do border de um containers/botões/etc.. com fundo default (root-background-content-color)*/
    --root-border-color-to-default-background-container: black;
    /*cor de fundo do butão do tipo de conta*/
    --root-account-type-button-color: white;
    /*cor do border do butão do tipo de conta*/
    --root-account-type-button-border-color: grey;
    /*-------------------------------*-
    |*           Tamanhos            *|
    -*-------------------------------*/
    /*Width da caixa de autenticação*/
    --root-authentication-box-width: 40em;
    --root-authentication-box-content-width: 30em;
    --root-authentication-box-height: 40em;
    --root-authentication-box-width-media: 100vw;
    /*Margin's/Gap's do conteudo das variaveis*/
    --root-authentication-content-margin-top: 5em;
    --root-authentication-content-margin-bottom: 2em;
    --root-authentication-account-type-content-margin-bottom: 12em;
    --root-account-type-button-min-space: 1em;
    --root-all-authentication-content-min-space: 5em;
    --root-authentication-button-min-space: 1em;
    --root-pechincha-container-margin-top: 2em; /*containers standerd no WEBSITE todo*/
    --root-pechincha-container-margin-sides: 5em;
    /*Paddings's do conteudo das variaveis*/
    --root-input-text-padding-sides: 1em;
    --root-form-button-padding-sides: 2em;
    --root-form-button-padding-up-and-down: 0.25em;
    /*Size do conteudo*/
    --root-text-size: 1em;
    --root-small-icon-size: 2em;
    --root-medium-icon-size: 3em;
    --root-huge-icon-size: 5em;
    --root-comerciante-logo: 10rem;
    --root-produto-image: 15rem;
    --root-account-type-logo-size: 3em;
    --root-account-type-button-width: 8em;
    --root-account-type-button-heigth: 8em;
    --root-account-type-button-border-width: 0.1em;
    --root-account-type-button-border-radius: 1em;
    --root-account-type-logo-in-button-margin-top: calc(0.5 * calc(var(--root-account-type-button-width) - var(--root-text-size) - var(--root-account-type-logo-size)));
    --root-input-text-width: 20em;
    --root-input-text-height: 2.5em;
    --root-checkbox-border-radius: 0.5em;
    --root-input-text-radius: 0.25em;
    --root-checkbox-border-thickness-when-selected: 0.2em;
    --root-insert-file-input-width: 6.5em;
    --root-search-height: 30px;

    --root-filter-area-width: 5em;
}

html {
    font-size: var(--root-text-size);
    color: var(--root-text-color);
}

body {
    height: 100%;
    width: 100%;
    min-height: 100vh;
    
}

.navbar-brand {
    display: flex;
    align-items: center;
    gap: 0px 10px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
        color: var(--root-text-color);
    }
}

@media (min-width: 576px) {
    .container,
    .container-sm {
        max-width: none;
    }
}

.pb-3 {
    padding: 0px !important;
}

.container {
    padding: 0px;
}

.display-none {
    display: none !important;
}

.center-text{
    text-align: center;
}

/*Gradiante-main-color*/
.gradiante-main-color{
    background: linear-gradient(-110deg, var(--root-main-color) 35%, rgba(255,255,255,1) 100%);
}

.gradiante2-main-color {
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 80%, var(--root-main-color) 100%);
}

.background-height{
    min-height: 100vh;
   
}

.content-background {
    background-color: white;
}

.authentication-box {
    min-height: var(--root-authentication-box-height);
    width: var(--root-authentication-box-width);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

    .authentication-box div.centered-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: var(--root-all-authentication-content-min-space);
    }

        .authentication-box div .authentication-header {
            display: flex;
            flex-direction: column;
            margin-top: var(--root-authentication-content-margin-top);
            text-align: center;
            gap: 0em;
        }

        .authentication-box div .inline-div {
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin-bottom: var(--root-authentication-account-type-content-margin-bottom);
            gap: 0em var(--root-account-type-button-min-space);
        }

.account-type-button {
    background-color: var(--root-account-type-button-color);
    border: var(--root-account-type-button-border-width) solid var(--root-account-type-button-border-color);
    border-radius: var(--root-account-type-button-border-radius);
    text-decoration: none;
}

    .account-type-button:hover {
        border-color: var(--root-main-color);
    }

.a-div-button {
    width: fit-content;
    text-decoration: none;
}

    .a-div-button button {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: var(--root-account-type-button-width);
        height: var(--root-account-type-button-heigth);
    }

.account-type-cliente-logo {
    display: inline-block;
    width: var(--root-account-type-logo-size);
    height: var(--root-account-type-logo-size);
    background-image: url('../images/Cliente_logo.png');
    background-size: cover;
}

    .a-div-button button .account-type-cliente-logo {
        margin-top: var(--root-account-type-logo-in-button-margin-top);
    }

.account-type-comerciante-logo {
    display: inline-block;
    width: var(--root-account-type-logo-size);
    height: var(--root-account-type-logo-size);
    background-image: url('../images/Comerciante_logo.png');
    background-size: cover;
}

    .a-div-button button .account-type-comerciante-logo {
        margin-top: var(--root-account-type-logo-in-button-margin-top);
    }


.center-div-x-axis {
    margin: 0 auto;
}

@media (max-width: 40rem) {
    .authentication-box {
        width: var(--root-authentication-box-width-media);
        margin: 0;
    }

    .support-link {
        margin-left: calc(var(--root-authentication-box-width-media) - 10em) !important;
    }
}

.inline-div {
    display: inline;
}

.huge-icon-logo {
    display: inline-block;
    width: var(--root-huge-icon-size);
    height: var(--root-huge-icon-size);
    background-image: url('../images/logo_projeto.png');
    background-size: cover;
}

.small-icon-logo {
    display: inline-block;
    width: var(--root-small-icon-size);
    height: var(--root-small-icon-size);
    background-image: url('../images/logo_projeto.png');
    background-size: cover;
}

.support-link {
    position: absolute;
    width: 10em;
    margin-left: calc(var(--root-authentication-box-width) - 10em);
    padding: 1em;
}

.rigth-text {
    text-align: right;
}

.authentication-phase {
    display: flex;
    align-items: center;
}

.authentication-basedon-column {
    flex-direction: column;
    gap: 2em 0em;
}

.authentication-basedon-row {
    width: min-content;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1em 0em;
}

.authentication-input-text-div {
    width: var(--root-input-text-width);
    height: fit-content;
}

    .authentication-input-text-div input {
        width: 100%;
        height: var(--root-input-text-height);
        border: none;
        border: 1px solid #ccc;
        border-radius: var(--root-input-text-radius);
        padding-left: var(--root-input-text-padding-sides);
        padding-right: var(--root-input-text-padding-sides);
        outline: none;
    }
        .authentication-input-text-div input:focus {
            outline: none;
            border: none;
            border: 1px solid var(--blue-color);
        }

            .authentication-input-text-div input:focus:placeholder-shown ~ label,
            .authentication-input-text-div input:focus::placeholder {
                opacity: 1;
                color: transparent;
                bottom: calc(calc(var(--root-input-text-height) / 2) + calc(var(--root-input-text-height) - 0.5em));
            }

            .authentication-input-text-div input:focus:not(:placeholder-shown) ~ label,
            .authentication-input-text-div input:not(:placeholder-shown) ~ label {
                color: grey !important;
                opacity: 1 !important;
                bottom: calc(calc(var(--root-input-text-height) / 2) + calc(var(--root-input-text-height) - 0.5em)) !important;
            }

            .authentication-input-text-div input:focus:not(:placeholder-shown) ~ label {
                color: var(--blue-color) !important;
            }

    .authentication-input-text-div label {
        z-index: 90;
        position: relative;
        bottom: calc(var(--root-input-text-height) - 0.5em);
        left: calc(0.15em + var(--root-input-text-padding-sides) - 0.5em);
        color: var(--blue-color) !important;
        padding-left: 0.5em;
        padding-right: 0.5em;
        opacity: 0;
        transition: opacity 0.3s ease-in-out, bottom 0.3s ease-in-out;
    }
        .authentication-input-text-div label::after {
            z-index: -1;
            content: ''; /* Required for pseudo-elements */
            display: block; /* Ensure the pseudo-element takes up space */
            position: absolute;
            width: 100%;
            left: 0;
            bottom: calc(var(--root-text-size) - 5px);
            height: 1px; /* Height of the line */
            background-color: var(--root-background-content-color);
        }

    .authentication-input-text-div span.text-danger {
        display: block;
        position: relative;
        bottom: calc(var(--root-input-text-height) * 0.5);
        text-align: center;
        margin: 0 !important;
    }

@media (max-width: 20rem) {
    .authentication-input-text-div {
        width: var(--root-authentication-box-width-media) !important;
    }

        .authentication-input-text-div button.password-hidden,
        .authentication-input-text-div button.password-visible {
            left: calc(var(--root-authentication-box-width-media) - 25px - 1px) !important;
        }
}
.authentication-buttons {
    margin-top: var(--root-all-authentication-content-min-space);
    margin-bottom: var(--root-authentication-content-margin-bottom);
    display: flex;
    justify-content: flex-end;
    gap: 0em var(--root-authentication-button-min-space);
    width: var(--root-authentication-box-content-width);
}

@media (max-width: 30rem) {
    .authentication-buttons {
        width: var(--root-authentication-box-width-media) !important;
        justify-content: center;
        gap: var(--root-authentication-button-min-space) var(--root-authentication-button-min-space) !important;
    }
}

.confirm-button {
    flex: 0 1 auto;
    width: fit-content;

    padding-left: var(--root-form-button-padding-sides);
    padding-right: var(--root-form-button-padding-sides);
    padding-bottom: var(--root-form-button-padding-up-and-down);
    padding-top: var(--root-form-button-padding-up-and-down);
    background-color: var(--root-main-color);
    border: none;
    text-decoration: none;
    color: var(--root-text-color-on-main-color);
    cursor: pointer;
}

    .confirm-button:hover {
        filter: brightness(0.92);
    }

.cancel-button {
    flex: 0 1 auto;
    width: fit-content;
    padding-left: var(--root-form-button-padding-sides);
    padding-right: var(--root-form-button-padding-sides);
    padding-bottom: var(--root-form-button-padding-up-and-down);
    padding-top: var(--root-form-button-padding-up-and-down);
    background-color: var(--root-background-content-color);
    border: 1px solid var(--root-border-color-to-default-background-container);
    text-decoration: none;
    color: var(--root-text-color);
    cursor: pointer;
}
    .cancel-button:hover {
        filter: brightness(0.92);
        color: var(--root-text-color);
    }

a.cancel-button::before {
    background-color: var(--root-background-content-color);
}
    a.cancel-button:hover::before {
        opacity: 0.5;
    }

@media (max-width: 277px) {
    .confirm-button,
    .cancel-button {
        padding-left: 0px;
        padding-right: 0px;
        width: 100%;
        text-align: center;
    }
}


.authentication-checkbox label {
    padding-left: var(--root-form-button-padding-sides);
    padding-right: var(--root-form-button-padding-sides);
    padding-bottom: var(--root-form-button-padding-up-and-down);
    padding-top: var(--root-form-button-padding-up-and-down);
    background-color: var(--root-background-content-color);
    outline: 1px solid var(--root-border-color-to-default-background-container);
    border-radius: var(--root-checkbox-border-radius);
    outline-offset: -1px;
    color: var(--root-text-color);
}

.authentication-checkbox input[type="checkbox"] {
    display: none;
}

.authentication-checkbox input[type="checkbox"]:checked ~ label{
    outline-color: var(--root-main-color);
    outline-width: var(--root-checkbox-border-thickness-when-selected);
}

.authentication-checkbox input[type="checkbox"]:hover ~ label {
    filter: brightness(0.95);
}

.insert-file {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 2px dashed black;
    width: 20em;
    padding: 1em;
    gap: 1em;
    height: fit-content;
}
    .insert-file div.title {
        font-weight: bold;
    }

    .insert-file div.title::after {
        content: '';
        position: relative;
        display: block;
        left: calc(50% - var(--root-medium-icon-size) / 2);
        width: var(--root-medium-icon-size);
        height: var(--root-medium-icon-size);
        background-size: cover;
    }

    .insert-file div.insert-file-input {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        min-width: 50%;
        max-width: 75%;
        height: fit-content;
    }
        .insert-file div.insert-file-input .file-name {
            /*NewText*/
            width: 100%;
            white-space: normal; /* Wrap the text to the next line */
            word-wrap: break-word; /* Break long words if needed */
            text-align: center;
        }

        .insert-file input[type="file"] {
            /*OldText and OldButton*/
            z-index: 1;
            color: transparent;
            width: var(--root-insert-file-input-width);
        }

            .insert-file input[type="file"]::-webkit-file-upload-button {
                /*OldButton*/
                padding-top:0;
                padding-bottom: 0;
                position: absolute;
                left: calc(50vw - var(--root-insert-file-input-width) / 2);
                margin: 0 auto;
                background-color: var(--root-background-content-color);
                color: var(--root-border-color-to-default-background-container);
                border: none;
                border-radius: var(--root-input-text-radius);
                outline: none;
                cursor: pointer;
            }

    .insert-file label {
        /*NewButton*/
        z-index: 2;
        position: relative;
        left: calc(0.5 * var(--root-insert-file-input-width));
        text-align: center;
        width: var(--root-insert-file-input-width);
        background-color: var(--root-background-content-color);
        color: var(--root-border-color-to-default-background-container);
        border: 2px solid var(--root-border-color-to-default-background-container);
        border-radius: var(--root-input-text-radius);
        outline: none;
        cursor: pointer;
    }

            .insert-file input[type="file"]::-webkit-file-upload-button:hover {
                filter: brightness(0.92);
            }

.insert-file.file-type-image div.title::after{
    background-image: url('../images/uploadImage.png') !important;
}


.insert-file.file-type-pdf div.title::after{
    background-image: url('../images/uploadPdf.png') !important;
}
    .insert-file.file-type-pdf input[type="file"]::-webkit-file-upload-button {
        content: 'Adicionar Documento'
    }


.authentication-input-text-div button.password-hidden,
.authentication-input-text-div button.password-visible {
    position: relative;
    bottom: calc(1em + var(--root-input-text-height));
    left: calc(var(--root-input-text-width) - 25px - 1px);
    background-color: var(--root-background-content-color);
    border: none;

}

.password-visible {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-image: url('../images/eye-opened.png');
    background-size: cover;
}

.password-hidden {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-image: url('../images/eye-closed.png');
    background-size: cover;
}


.gsignin-div {
    margin: auto;
    width: fit-content;
}

.gsi-material-button {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -webkit-appearance: none;
    background-color: WHITE;
    background-image: none;
    border: 1px solid #747775;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #1f1f1f;
    cursor: pointer;
    font-family: 'Roboto', arial, sans-serif;
    font-size: 14px;
    height: 40px;
    letter-spacing: 0.25px;
    outline: none;
    overflow: hidden;
    padding: 0;
    position: relative;
    text-align: center;
    -webkit-transition: background-color .218s, border-color .218s, box-shadow .218s;
    transition: background-color .218s, border-color .218s, box-shadow .218s;
    vertical-align: middle;
    white-space: nowrap;
    width: 40px;
    max-width: 400px;
    min-width: min-content;
    bottom: 150px;
}

    .gsi-material-button .gsi-material-button-icon {
        min-width: 38.17px;
        width: 20px;
        margin: 0;
        padding: 9px;
    }

    .gsi-material-button .gsi-material-button-content-wrapper {
        -webkit-align-items: center;
        align-items: center;
        display: flex;
        -webkit-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: nowrap;
        flex-wrap: nowrap;
        height: 100%;
        justify-content: space-between;
        position: relative;
        width: 100%;
    }

    .gsi-material-button .gsi-material-button-contents {
        -webkit-flex-grow: 1;
        flex-grow: 1;
        font-family: 'Roboto', arial, sans-serif;
        font-weight: 500;
        overflow: hidden;
        text-overflow: ellipsis;
        vertical-align: top;
    }

    .gsi-material-button .gsi-material-button-state {
        -webkit-transition: opacity .218s;
        transition: opacity .218s;
        bottom: 0;
        left: 0;
        opacity: 0;
        position: absolute;
        right: 0;
        top: 0;
    }

    .gsi-material-button:disabled {
        cursor: default;
        background-color: #ffffff61;
        border-color: #1f1f1f1f;
    }

        .gsi-material-button:disabled .gsi-material-button-contents {
            opacity: 38%;
        }

        .gsi-material-button:disabled .gsi-material-button-icon {
            opacity: 38%;
        }

    .gsi-material-button:not(:disabled):active .gsi-material-button-state,
    .gsi-material-button:not(:disabled):focus .gsi-material-button-state {
        background-color: #303030;
        opacity: 12%;
    }

    .gsi-material-button:not(:disabled):hover {
        -webkit-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15);
        box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15);
    }

        .gsi-material-button:not(:disabled):hover .gsi-material-button-state {
            background-color: #303030;
            opacity: 8%;
        }

.gsi-material-text {
    margin-right: 12px;
}

@media (max-width: 572px) {
    .gsi-material-text {
        display: none;
        margin-right: 0px;
    }

    .gsignin-div {
        width: fit-content;
    }
}

[class^="support-image-"] {
    display: inline-block !important;
    background-size: cover !important;
    margin: 0 auto;
}

.support-image-1 {
    width:700px;
    height:400px;
    background-image: url(../images/AuthenticationSupport1.png);
}

.support-image-2 {
    width: 700px;
    height: 400px;
    background-image: url(../images/AuthenticationSupport2.png);
}

.support-image-3 {
    width: 800px;
    height: 700px;
    background-image: url(../images/AuthenticationSupport3.png);
}

.support-image-4 {
    width: 800px;
    height: 700px;
    background-image: url(../images/AuthenticationSupport4.png);
}

.support-image-5 {
    width: 800px;
    height: 700px;
    background-image: url(../images/AuthenticationSupport5.png);
}

.support-image-6 {
    width: 800px;
    height: 700px;
    background-image: url(../images/AuthenticationSupport6.png);
}

.support-image-7 {
    width: 800px;
    height: 700px;
    background-image: url(../images/AuthenticationSupport7.png);
}

.support-image-8 {
    width: 800px;
    height: 700px;
    background-image: url(../images/AuthenticationSupport8.png);
}

.support-image-9 {
    width: 800px;
    height: 700px;
    background-image: url(../images/AuthenticationSupport9.png);
}

.support-image-10 {
    width: 800px;
    height: 700px;
    background-image: url(../images/AuthenticationSupport10.png);
}

.support-image-11 {
    width: 800px;
    height: 700px;
    background-image: url(../images/AuthenticationSupport11.png);
}

.support-image-12 {
    width: 800px;
    height: 700px;
    background-image: url(../images/AuthenticationSupport12.png);
}

.support-image-13 {
    width: 800px;
    height: 700px;
    background-image: url(../images/AuthenticationSupport13.png);
}

.support-image-14 {
    width: 800px;
    height: 700px;
    background-image: url(../images/AuthenticationSupport14.png);
}

.support-image-15 {
    width: 800px;
    height: 700px;
    background-image: url(../images/AuthenticationSupport15.png);
}

.nav-search-div {
    display: flex; 
    
    position: relative;
    width: 300px;
    height: var(--root-search-height);
}
    .nav-search-div input,
    .nav-search-div button {
        position: absolute;
    }

    .nav-search-div input {
        width: 100%;
        height: 100%;
        border: none;
        border-radius: var(--root-search-height);
        outline: 1px solid black;
        padding-left: var(--root-input-text-padding-sides);
        padding-right: calc(5px + var(--root-search-height));
    }
        .nav-search-div input:focus {
            outline: 1px solid var(--blue-color);
        }

        .nav-search-div input:focus ~ button{
            opacity: 1;
            width: var(--root-search-height);
        }


    .nav-search-div button {
        opacity: 1;
        right: 0;
        width: var(--root-search-height);
        height: 100%;
        border: none;
        border-radius: 50%; /* Make it a circle */
        outline: 1px solid black;
        background-color: var(--root-main-color);
        transition: width 0.3s ease, opacity 0.2s ease;
    }

        .nav-search-div button::before {
            content: '';
            position: absolute;
            top: 27%;
            left: 27%;
            aspect-ratio: 1 / 1;
            width: 30%;
            border: 1px solid black;
            border-radius: 50%;
        }

        .nav-search-div button::after {
            content: '';
            position: absolute;
            bottom: 28%;
            right: 28%;
            transform: rotate(45deg);
            aspect-ratio: 2 / 1;
            width: 25%;
            border-top: 1px solid black;
        }

.pechincha-container {
    display: flex;
    justify-content: center;
}

    .pechincha-container section {
        width: calc(100vw - var(--root-pechincha-container-margin-sides));
        min-height: 100%
    }

.column-container,
.row-container,
.right-flex,
.left-flex,
.center-x-flex,
.edges-flex,
.wrap-flex 
.center-y-flex{
    display: flex;
}

.column-container {
    flex-direction: column;
}

.row-container {
    flex-direction: row;
}

.right-flex {
    justify-content: right;
}

.left-flex {
    justify-content: left;
}

.center-x-flex {
    justify-content: center;
}

.center-y-flex {
    align-items: center;
}

.edges-flex {
    justify-content: space-between;
}

.wrap-flex {
    flex-wrap: wrap;
}

.thin-outline {
    outline: 1px solid var(--root-border-color-to-default-background-container);
}

.rounded-border {
    border-radius: 10px;
}

.small-padding {
    padding: 1em;
}

.small-margin-top {
    margin-top: 1em;
}

.filter-area-width {
    min-width: var(--root-filter-area-width); 
}

.fit-content-width {
    width: fit-content;
}

.search-result{
    height: 8em;
    text-decoration: none;
    color: var(--root-text-color);
    background-color: var(--root-background-content-color);
    padding: 1em;
    width: 140px;
}

.search-result:hover {
    color: var(--root-text-color);
    filter: brightness(0.95);
}

.search-image {
    display: inline-block;
    width: var(--root-medium-icon-size);
    height: var(--root-medium-icon-size);
    background-size: cover;
}

.sad-face {
    display: inline-block;
    width: 100px;
    height: 69px;
    background-size: 100% 100%;
    background-image: url('../images/sad.png');
}