@model IEnumerable<PechinchaMarket.Models.Produto>

@{
    ViewData["Title"] = "Index";
}
<link href="~/css/listaProduto.css" rel="stylesheet" />
<h1>Produtos</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<body>

<div class="container-box"> 
   
               <span class="coluna-selecionada">
                <h2> Produtos Publicados</h2>   
                </span>

            <span class="coluna">
                  <h2>Produtos Pendentes</h2>
             </span>
              <span class="coluna">
                 <h2>Produtos Rejeitados </h2>
               </span>    
</div>

    <section class="container">


        @foreach (var item in Model)
        {
            <div class="card">

                <div class="card-image">
                    <img src='@Url.Action( "ShowImage", "Manager", new { id = item.Id

                  })' />
                  </div>
                <p>@Html.DisplayFor(modelItem => item.Name)</p>
                <p>@Html.DisplayFor(modelItem => item.Brand)</p>
                preço
                <a asp-area="" asp-controller="Manager" asp-action="DetailsProduct" asp-route-id="@item.Id"> Details</a>

                </div>
                

         

            }


        

    </section>

</body>

  
