@model PechinchaMarket.Models.Comerciante

@{
    ViewData["Title"] = "DetailsComerciante";
}
<link href="~/css/manager.css" rel="stylesheet" />


<div>
   O usuario foi aprovado
    <a asp-action="NonConfirmedList">Voltar atrás</a>
</div>
