@model IEnumerable<PechinchaMarket.Models.Produto>

@{
    ViewData["Title"] = "NonAprovedProducts";
}
<link href="~/css/manager.css" rel="stylesheet" />


<h2>Produtos pendentes para aprovação: </h2>


<body>
    <section class="container">
    

        @foreach (var item in Model)
        {
           @if (item.ProdEstado == Estado.InAnalysis)
            {
                <a asp-controller="Manager" asp-action="DetailsProduct" asp-route-id=@item.Id>
                    <div class="card">
                    
                        <div class="card-image">
                            <img src='@Url.Action( "ShowImage", "Manager", new { id = item.Id })' />
                        </div>
                        <h3>@Html.DisplayFor(modelItem => item.Name)</h3>
                        <p>Marca: @Html.DisplayFor(modelItem => item.Brand)</p>

                    </div>
                </a>
            }
        }

    </section>

</body>