@{
    ViewData["Title"] = "Home Page";
}



<link type="text/css" rel="stylesheet" href="~/css/home.css" />

<body>
    <div class="background">
        <div class="searchbox">
            <p class="title">Encontre os produtos que procura por mais barato!</p>
            <p>Nós somos uma comunidade com mais de 3000 empresas e milhões de produtos que o ajudam a encontrar o que deseja</p>
            <div class="search">
                <input class="form-control" />
            </div>
        </div>
    </div>
</body>


