@{
    ViewData["Title"] = "Home Page";
}



<link type="text/css" rel="stylesheet" href="~/css/home.css" />

<body>
    <div class="background">
        <div class="searchbox">
            <p class="title">Encontre os produtos que procura por mais barato!</p>
            <p>Nós somos uma comunidade com mais de 3000 empresas e milhões de produtos que o ajudam a encontrar o que deseja</p>
            
            <form id="searchForm" method="post" asp-controller="Search" asp-action="search">
                <div class="nav-search-div">
                    <input type="text" id="searchInput" name="searchText" autocomplete="off" />
                    <button type="submit"></button>
                </div>
            </form>
            <ul class="navbar-nav flex-grow-1">
            </ul>
        </div>
    </div>
    <div class="gradiante2-main-color">

    </div>
</body>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var tooltipall = document.getElementById("tooltip-message-all");
        var tooltipcliente = document.getElementById("tooltip-message-cliente");
        var tooltipcomerciante = document.getElementById("tooltip-message-comerciante");

        tooltipall.innerHTML = "Bem-vindo a nossa plantaforma, esta é nossa pagina principal";
        tooltipcliente.innerHTML = "";
        tooltipcomerciante.innerHTML = "";
    });
</script>

